{% extends base_template %}
{% block html_param %}ng-app="app"{% endblock %}
{% block title_page %}AL - User account{% endblock %}
{% block js_import %}
    <script src="/static/js/cbor/cbor.js"></script>
	<script src="/static/js/account.js"></script>
{% endblock %}
{% block loading_menu %}ng-hide="!loading_extra"{% endblock %}
{% block content %}
	<div ng-controller="classificationCtrl" classification-picker></div>
	
	{%raw%}
	<section id="appContent" class="container">
		<div class="header_title text-right">
			<h1>User Account</h1>
		</div>
		<section ng-show="current_user" class="row">
			<div class="col-sm-4 col-md-3">
				<div ng-controller="imageCtrl" image-preview style="width: 200px; margin: auto;"></div>

                <div class="form-group bigpad" style="width: 200px; margin: auto;">
					<div ng-hide="user.type.indexOf('admin')==-1" style="display: block" class="text-large">
						<span style="cursor: pointer" class="label label-nolight classification pad" ng-click="toggle_active()" ng-class="{'label-highlight': current_user.is_active}">
							<span ng-show="current_user.is_active">Account Enabled</span>
							<span ng-hide="current_user.is_active">Account Disabled</span>
						</span>
					</div>
					<div ng-hide="user.type.indexOf('admin')!=-1" style="display: block" class="text-large">
						<span id="user_active" class="label classification pad" ng-class="{'label-primary': current_user.is_active, 'label-default': !current_user.is_active}">Active</span>
					</div>
				</div>
			</div>
			<div class="col-sm-8 col-md-5">
				<div class="form-group">
					<label class="control-label">User ID</label>
					<input type="text" class="form-control input-sm" ng-model="current_user.uname" disabled>
				</div>
				<div class="form-group">
					<label class="control-label">Full name</label>
					<input type="text" class="form-control input-sm input-medium" placeholder="User's name" ng-model="current_user.name">
				</div>
				<div ng-if="user.internal_auth_enabled" class="form-group">
					<label class="control-label"><span ng-if="current_user.has_password">New</span><span ng-if="!current_user.has_password">Add</span> password</label>
					<input type="password" class="form-control input-sm input-medium" placeholder="New password" ng-model="current_user.new_pass">
				</div>
                <div ng-if="user.internal_auth_enabled" class="form-group">
					<label class="control-label">Confirm password</label>
					<input type="password" class="form-control input-sm input-medium" placeholder="Confirm new password" ng-model="current_user.new_pass_confirm">
				</div>
				<div class="form-group">
					<label class="control-label">Member of (space seperated)</label>
					<input type="text" class="form-control input-sm" ng-model="current_user.groups" split-array="{splitter: ' '}">
				</div>
				<div class="form-group" ng-show="current_user.email">
					<label class="control-label">Email Address</label>
					<input type="text" class="form-control input-sm" ng-model="current_user.email" disabled>
				</div>
				<div class="form-group" ng-show="current_user.dn">
					<label class="control-label">LDAP DN</label>
					<input type="text" class="form-control input-sm" ng-model="current_user.dn" disabled>
				</div>
			</div>
			<div class="col-sm-4 hidden-md"></div>
			<div class="col-sm-8 col-md-4">
				<div ng-if="user.c12n_enforcing" class="form-group">
					<label class="control-label">Classification</label>
					<div ng-if="user.type.indexOf('admin')!=-1" class="label classification {{current_user.classification | class_label_color}}" data-toggle="modal" href="#classification_picker" ng-click="setClassification(current_user.classification)">{{current_user.classification | class_sm}}</div>
					<div ng-if="user.type.indexOf('admin')==-1" class="label classification {{current_user.classification | class_label_color}}">{{current_user.classification}}</div>
				</div>
				<div class="form-group">
					<label class="control-label">User access types</label>
					<div ng-hide="user.type.indexOf('admin')==-1" style="display: block" class="text-large">
						<span style="cursor: pointer" class="label label-nolight label-tag" ng-click="toggle_type('user')" ng-class="{'label-highlight': current_user.type.indexOf('user')!=-1}">Normal User</span>
						<span style="cursor: pointer" class="label label-nolight label-tag" ng-click="toggle_type('admin')" ng-class="{'label-highlight': current_user.type.indexOf('admin')!=-1}">Administrator</span>
						<span style="cursor: pointer" class="label label-nolight label-tag" ng-click="toggle_type('signature_manager')" ng-class="{'label-highlight': current_user.type.indexOf('signature_manager')!=-1}">Signature Manager</span>
						<span style="cursor: pointer" class="label label-nolight label-tag" ng-click="toggle_type('signature_importer')" ng-class="{'label-highlight': current_user.type.indexOf('signature_importer')!=-1}">Signature Importer</span>
					</div>
					<div ng-hide="user.type.indexOf('admin')!=-1" style="display: block" class="text-large">
						<span class="label label-tag" ng-class="{'label-primary': current_user.type.indexOf('user')!=-1, 'label-default': current_user.type.indexOf('user')==-1}">Normal User</span>
						<span class="label label-tag" ng-class="{'label-primary': current_user.type.indexOf('admin')!=-1, 'label-default': current_user.type.indexOf('admin')==-1}">Administrator</span>
						<span class="label label-tag" ng-class="{'label-primary': current_user.type.indexOf('signature_manager')!=-1, 'label-default': current_user.type.indexOf('signature_manager')==-1}">Signature Manager</span>
						<span class="label label-tag" ng-class="{'label-primary': current_user.type.indexOf('signature_importer')!=-1, 'label-default': current_user.type.indexOf('signature_importer')==-1}">Signature Importer</span>
					</div>
				</div>
				<div class="form-group">
                    <label class="control-label">API quota</label>
                    <input type="number" class="form-control input-sm" ng-model="current_user.api_quota" ng-disabled="user.type.indexOf('admin')==-1" min="0" max="1024">
                </div>
                <div class="form-group" style="margin-bottom: 30px">
                    <label class="control-label">Submission quota</label>
                    <input type="number" class="form-control input-sm" ng-model="current_user.submission_quota" ng-disabled="user.type.indexOf('admin')==-1" min="0" max="1024">
                </div>
				<div class="form-group" ng-if="!current_user['2fa_enabled']&&user.allow_2fa">
					<span class="btn btn-success button" ng-click="enable_2fa();" style="min-width: 250px;"><span class="glyphicon glyphicon-lock"></span> Enable 2-Factor Authentication</span>
                </div>
				<div class="form-group" ng-if="current_user['2fa_enabled']&&user.allow_2fa">
					<span class="btn btn-danger button" ng-click="disable_2fa();" style="min-width: 250px;"><span class="glyphicon glyphicon-lock"></span> Disable 2-Factor Authentication</span>
                </div>
				<div class="form-group" ng-if="current_user['2fa_enabled']&&user.allow_security_tokens">
					<span class="btn btn-primary button" ng-click="manage_security_tokens();" style="min-width: 250px;"><span class="icon-lock">&nbsp;&nbsp;</span>Manage Security Tokens</span>
                </div>
                <div class="form-group" ng-if="user.allow_apikeys">
					<span class="btn btn-primary button" ng-click="manage_apikeys();" style="min-width: 250px;"><span class="icon-authentication-keyalt">&nbsp;&nbsp;</span>Manage APIKeys</span>
                </div>
			</div>
            <div class="col-sm-12 text-center text-muted pad" ng-show="current_user.agrees_with_tos">
                <span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;Agreed to Terms of Service on: {{ current_user.agrees_with_tos | date:"yyyy-MM-dd HH:mm:ss" }}
            </div>
		</section>
		<div class="bigpad text-center" ng-show="current_user">
			<span class="btn btn-primary bigbutton" ng-disabled="!new_pass_valid()" ng-click="save();">Save changes</span>
		</div>
	</section>

	<!-- HIDE FOLLOWING: Should go inside a modal form -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-resize">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal_title" id="myModalLabel">2-Factor Authentication Setup</h4>
				</div>
				<div class="modal-body">
					<section>
                        <div class="bigpad text-center">
                            <p>Scan the QRCode below with your OTP application</p>
                            <div ng-bind-html="safe_qrcode" title="{{otp_data.otp_url}}"></div>
							<div class="action_divider"><div>OR</div></div>
                            <p>Manually add the secret key in your OTP application</p>
                            <p style="margin-top: 25px; font-family: monospace;">{{otp_data.secret_key}}</p>
                        </div>
                        <div>
                            <label class="strong">Enter temporary OTP Token:</label>
                            <input type="tel" maxlength="6" minlength="6" class="form-control" id="temp_otp_token" ng-model="temp_otp_token" placeholder="OTP Token" required autofocus/>
                            <div class="pad"><span class="text-danger strong">{{ otp_error }}</span></div>
                        </div>
					</section>
				</div>
				<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" ng-click="validate_2fa()">Validate OTP Token</button>
				</div>
			</div>
		</div>
	</div>

    <div class="modal fade" id="apikeyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-resize">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal_title" id="myModalLabel">{{ current_user.name }}'s APIKeys</h4>
				</div>
				<div class="modal-body">
					<section>
                        <table class="table table-hover table-striped table-clickthrough">
                            <thead>
                                <tr class="active">
                                    <th nowrap>Available APIKeys</th><th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="key in current_user.apikeys">
                                    <td nowrap>{{ key }}</td>
                                    <td nowrap class="text-right">
                                        <button class="btn btn-xs btn-danger" ng-click="delete_apikey(key)"><span class="glyphicon glyphicon-minus"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row pad">
                            <form name="api_form">
                                <div class="col-xs-7 col-sm-8" style="padding-right: 0"><input autocapitalize="none" placeholder="Enter APIKey name" name="input_apikey" class="form-control input-sm" id="apikey_name" ng-model="apikey_name" ng-pattern="apikey_pattern" ng-required="true"/></div>
                                <div class="col-xs-3 col-sm-2" style="padding-right: 0">
                                    <select class="form-control input-sm" id="apikey_priv" ng-model="apikey_priv">
                                        <option title="Read privileges" value="READ">R</option>
                                        {% endraw %}
                                        {% if not is_readonly %}
	                                    {% raw %}
                                        <option title="Read and write privileges" value="READ_WRITE">R/W</option>
                                        <option title="Write privileges" value="WRITE">W</option>
                                        {% endraw %}
                                        {% endif %}
	                                    {% raw %}
                                    </select>
                                </div>
                                <div class="col-xs-2" style="padding-right: 0">
                                    <button type="submit" class="btn btn-sm btn-success" ng-disabled="!api_form.input_apikey.$valid" ng-click="add_apikey()"><span class="glyphicon glyphicon-plus"><span class="hidden-xs">&nbsp;</span></span><span class="hidden-xs">Add APIKey</span></button>
                                </div>
                                <div class="col-xs-12 pad"><span class="text-danger strong">{{ apikey_error }}</span></div>
                            </form>
                        </div>
					</section>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

    <div class="modal fade" id="apikeyDisplayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-resize">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal_title" id="myModalLabel">{{ new_apikey_name }} :: {{ new_apikey_priv }}</h4>
				</div>
				<div class="modal-body">
                    <p>This new API Key was randomly generated for you.</p>
                    <div style="margin-bottom: 30px">
                        <pre>{{ new_apikey }}</pre>
                    </div>
                    <label class="strong">*Important Note*</label>
                    <p>This will be the only time where you'll actually see the key. Make sure you paste that key in the script where you want to use it now because once you close this window you can no longer see the key. If you forget the key you'll have to delete it and re-create another.</p>

				</div>
				<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


    <div class="modal fade" id="security_token_management" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-resize">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal_title" id="myModalLabel">Security Tokens</h4>
				</div>
				<div class="modal-body">
					<section>
                        <table class="table table-hover table-striped table-clickthrough">
                            <thead>
                                <tr class="active">
                                    <th nowrap>Tokens available for login</th><th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="name in current_user.security_tokens">
                                    <td nowrap>{{ name }}</td>
                                    <td nowrap class="text-right">
                                        <button class="btn btn-xs btn-danger" ng-click="disable_security_token(name)"><span class="glyphicon glyphicon-minus"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row pad">
                            <form name="security_token_form">
                                <div class="col-xs-10"><input autocapitalize="none" placeholder="Enter security token name" name="input_security_token_key" class="form-control input-sm" id="security_token_key_name" ng-model="security_token_key_name" ng-pattern="security_token_key_pattern" ng-required="true"/></div>
                                <div class="col-xs-2">
                                    <button type="submit" class="btn btn-sm btn-success" ng-disabled="!security_token_form.input_security_token_key.$valid" ng-click="register_security_token()"><span class="glyphicon glyphicon-plus"><span class="hidden-xs">&nbsp;</span></span><span class="hidden-xs">Add Token</span></button>
                                </div>
                                <div class="col-xs-12 pad"><span class="text-danger strong">{{ security_token_key_error }}</span></div>
                            </form>
                        </div>
					</section>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="security_token_prompt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-resize">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal_title" id="myModalLabel">Performing security token action</h4>
				</div>
				<div class="modal-body">
                    <p>Please touch the flashing security token now.

You may be prompted to allow the site permission to access your security keys. After granting permission, the device will start to blink.</p>
					<h4 class="text-danger" style="margin-top: 20px">{{ security_token_error }}</h4>
				</div>
				<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel_security_token()">Abort</button>
				</div>
			</div>
		</div>
	</div>

	<!-- END HIDE -->
	{%endraw%}
{% endblock %}				
{% block loading_jumbo %}ng-hide="current_user"{% endblock %}
