{% extends base_template %}
{% block title_page %}AL - Dashboard{% endblock %}
{% block js_import %}
	<script src="/static/js/d3/d3.v3.min.js"></script>
	<script src="/static/js/d3/d3_gauge.js"></script>
	<script src="/static/js/socket.io/socket.io.slim.js"></script>
	<script src="/static/js/socket.io/ng-socket.js"></script>
	<script src="/static/js/dashboard.js"></script>
{% endblock %}
{% block css_import %}
    <style type="text/css">
        .gauge {
            width: 140px;
            height: 75px;
            padding-left: 5px;
        }

        .chart-filled-cpu {
            fill: #357ebd;
        }

        .chart-filled-ram {
            fill: #31708f;
        }

        .chart-empty {
            fill: #b7b7b752;
        }

        .needle, .needle-center {
            fill: #464A4F;
        }

        svg {
            font: 10px sans-serif;
        }
    </style>
{% endblock %}
{% block section %}
	<div class="table" style="padding-top: 80px; width: 99%;">
    {%raw%}
        <div class="row" style="margin: 0;">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="dashboard_card dashboard_card_big" ng-class="{disabled: data.ingester.instances==0,ok: data.ingester.instances!=0&&!ingester_in_error(data.ingester), error: data.ingester.instances!=0&&ingester_in_error(data.ingester)}">
                    <div ng-show="data.ingester.instances!=0&&ingester_in_error(data.ingester)" class="pull-right"><span class="text-danger text-icon icon-erroralt"></span></div>
                    <div class="title">Ingester :: x{{data.ingester.instances}}</div>

                    <div class="row ">
                        <div class="col-sm-3 col-xs-12">
                            <div><label>Ingest:</label></div>
                            <div>
                                <span title="Ingest Queue" ng-class="{'text-muted': data.ingester.queues.ingest <= 100000, 'text-danger': data.ingester.queues.ingest > 100000}" class="text-icon icon-squarei"></span><span ng-class="{'text-danger': data.ingester.queues.ingest > 100000}" style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.ingester.queues.ingest}}&nbsp;</span>&nbsp;
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div><label>Queued:</label></div>
                            <div>
                                <span title="Critical Priority Files Waiting" ng-class="{'text-muted': data.ingester.processing_chance.critical==1, 'text-danger': data.ingester.processing_chance.critical!=1}" class="text-icon icon-squarec"></span><span ng-class="{'text-danger': data.ingester.processing_chance.critical!=1}" style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.ingester.queues.critical}}&nbsp;</span><span class="text-danger" ng-show="data.ingester.processing_chance.critical!=1" style="vertical-align: top; font-size: 11pt;">({{data.ingester.processing_chance.critical * 100 | floatStr}}%)&nbsp;</span>&nbsp;
                                <span title="High Priority Files Waiting" ng-class="{'text-muted': data.ingester.processing_chance.high==1, 'text-danger': data.ingester.processing_chance.high!=1}" class="text-icon icon-squareh"></span><span ng-class="{'text-danger': data.ingester.processing_chance.high!=1}" style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.ingester.queues.high}}&nbsp;</span><span class="text-danger" ng-show="data.ingester.processing_chance.high!=1" style="vertical-align: top; font-size: 11pt;">({{data.ingester.processing_chance.high * 100 | floatStr}}%)&nbsp;</span>&nbsp;
                                <span title="Medium Priority Files Waiting" ng-class="{'text-muted': data.ingester.processing_chance.medium==1, 'text-danger': data.ingester.processing_chance.medium!=1}" class="text-icon icon-squarem"></span><span ng-class="{'text-danger': data.ingester.processing_chance.medium!=1}" style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.ingester.queues.medium}}&nbsp;</span><span class="text-danger" ng-show="data.ingester.processing_chance.medium!=1" style="vertical-align: top; font-size: 11pt;">({{data.ingester.processing_chance.medium * 100 | floatStr}}%)&nbsp;</span>&nbsp;
                                <span title="Low Priority Files Waiting" ng-class="{'text-muted': data.ingester.processing_chance.low==1, 'text-danger': data.ingester.processing_chance.low!=1}" class="text-icon icon-squarel"></span><span ng-class="{'text-danger': data.ingester.processing_chance.low!=1}" style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.ingester.queues.low}}&nbsp;</span><span class="text-danger" ng-show="data.ingester.processing_chance.low!=1" style="vertical-align: top; font-size: 11pt;">({{data.ingester.processing_chance.low * 100 | floatStr}}%)&nbsp;</span>&nbsp;
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div><label>Processing:</label></div>
                            <div>
                                <span title="Inflight Submissions" class="text-muted text-icon icon-squarei"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.ingester.processing.inflight}}&nbsp;</span>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-3 col-xs-12">
                            <div><label>Caching:</label></div>
                            <div>
                                <span title="Cache hit" class="text-muted text-icon icon-squareh"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.ingester.metrics.cache_hit + data.ingester.metrics.cache_hit_local}}&nbsp;</span>&nbsp;
                                <span title="Cache miss" class="text-muted text-icon icon-squarem"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.ingester.metrics.cache_miss + data.ingester.metrics.cache_expired + data.ingester.metrics.cache_stale}}&nbsp;</span>&nbsp;
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <div><label>Throughput: (for the last minute)</label></div>
                            <div>
                                <span title="Completed files" class="text-muted text-icon icon-squaref"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.ingester.metrics.files_completed | floatStr}}&nbsp;</span>&nbsp;
                                <span title="Completed submissions" class="text-muted text-icon icon-squarec"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.ingester.metrics.submissions_completed | floatStr}}&nbsp;</span>&nbsp;
                                <span title="Whitelisted files" class="text-muted text-icon icon-squarew"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.ingester.metrics.whitelisted | floatStr}}&nbsp;</span>&nbsp;
                                <span title="Skipped files" class="text-muted text-icon icon-squares"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.ingester.metrics.skipped | floatStr}}&nbsp;</span>&nbsp;
                                <span title="Duplicate files" class="text-muted text-icon icon-squared"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.ingester.metrics.duplicates | floatStr}}&nbsp;</span>&nbsp;
                                <span ng-class="{'text-muted': data.ingester.instances==0||data.ingester.metrics.bytes_completed!=0||data.ingester.metrics.bytes_ingested==0, 'text-danger': data.ingester.instances!=0&&data.ingester.metrics.bytes_completed==0&&data.ingester.metrics.bytes_ingested!=0}" class="text-icon icon-speed"></span><span ng-class="{'text-danger': data.ingester.instances!=0&&data.ingester.metrics.bytes_completed==0&&data.ingester.metrics.bytes_ingested!=0}" style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.ingester.metrics.bytes_completed/((1024*1024*60)/8) | floatStr}} / {{data.ingester.metrics.bytes_ingested/((1024*1024*60)/8) | floatStr}} Mbps</span>&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="dashboard_card dashboard_card_big" ng-class="{ok: !dispatcher_in_error(data.dispatcher), error: dispatcher_in_error(data.dispatcher), disabled: data.dispatcher.instances==0}">
                    <div ng-show="dispatcher_in_error(data.dispatcher)" class="pull-right"><span class="text-danger text-icon icon-erroralt"></span></div>
                    <div class="title">Dispatcher :: x{{data.dispatcher.instances}}</div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div><label>Services:</label></div>
                            <div>
                                {{ data.services.up | split }}
                                <span ng-show="data.services.up.length>0&&data.services.down.length>0"> :: </span><span class="text-muted">{{ data.services.down | split }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-xs-12">
                            <div><label>Submissions:</label></div>
                            <div>
                                <span title="Outstanding / Max" class="text-muted text-icon icon-squareo"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.dispatcher.inflight.outstanding}}&nbsp;/&nbsp;{{data.dispatcher.inflight.max}}&nbsp;</span>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div><label>Queues:</label></div>
                            <div>
                                <span title="Ingest Queue" ng-class="{'text-danger': data.dispatcher.queues.ingest>=data.dispatcher.inflight.max&&data.dispatcher.instances>0, 'text-muted': data.dispatcher.queues.ingest<data.dispatcher.inflight.max||data.dispatcher.instances==0}" class="text-icon icon-squarei"></span><span ng-class="{'text-danger': data.dispatcher.queues.ingest>=data.dispatcher.inflight.max&&data.dispatcher.instances>0}" style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.dispatcher.queues.ingest}}&nbsp;</span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div><label>Throughput: (for the last minute)</label></div>
                            <div>
                                <span title="Files completed" class="text-muted text-icon icon-squaref"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.dispatcher.metrics.files_completed}}&nbsp;</span>&nbsp;
                                <span title="Submissions completed" class="text-muted text-icon icon-squares"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.dispatcher.metrics.submissions_completed}}&nbsp;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <div class="dashboard_card dashboard_card_big" ng-class="{ok: !expiry_in_error(data.expiry), error: expiry_in_error(data.expiry), disabled: data.expiry.instances==0}">
                    <div ng-show="expiry_in_error(data.expiry)" class="pull-right"><span class="text-danger text-icon icon-erroralt"></span></div>
                    <div class="title">Expiry :: x{{data.expiry.instances}}</div>

                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div><label>Queues:</label></div>
                            <div>
                                <span title="Alerts" class="text-muted text-icon icon-squarea"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.expiry.queues.alert}}&nbsp;</span>&nbsp;
                                <span title="Errors" class="text-muted text-icon icon-squaree"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.expiry.queues.error}}&nbsp;</span>&nbsp;
                                <span title="Files" class="text-muted text-icon icon-squaref"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.expiry.queues.file + data.expiry.queues.filescore + data.expiry.queues.cached_file}}&nbsp;</span>&nbsp;
                                <span title="Results" class="text-muted text-icon icon-squarer"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.expiry.queues.emptyresult + data.expiry.queues.result}}&nbsp;</span>&nbsp;
                                <span title="Submissions" class="text-muted text-icon icon-squares"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.expiry.queues.submission + data.expiry.queues.submission_summary + data.expiry.queues.submission_tree}}&nbsp;</span>&nbsp;
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div><label>Expired: (for the last minute)</label></div>
                            <div>
                                <span title="Alerts" class="text-muted text-icon icon-squarea"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.expiry.metrics.alert}}&nbsp;</span>&nbsp;
                                <span title="Errors" class="text-muted text-icon icon-squaree"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.expiry.metrics.error}}&nbsp;</span>&nbsp;
                                <span title="Files" class="text-muted text-icon icon-squaref"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.expiry.metrics.file + data.expiry.metrics.filescore + data.expiry.metrics.cached_file}}&nbsp;</span>&nbsp;
                                <span title="Results" class="text-muted text-icon icon-squarer"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.expiry.metrics.emptyresult + data.expiry.metrics.result}}&nbsp;</span>&nbsp;
                                <span title="Submissions" class="text-muted text-icon icon-squares"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.expiry.metrics.submission + data.expiry.metrics.submission_summary + data.expiry.metrics.submission_tree}}&nbsp;</span>&nbsp;
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12 hidden-xs"></div>
                        <div class="col-sm-6 col-xs-12">
                            <div><label>Archived: (for the last minute)</label></div>
                            <div>
                                <span title="Alerts" class="text-muted text-icon icon-squarea"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.expiry.archive.alert}}&nbsp;</span>&nbsp;
                                <span title="Errors" class="text-muted text-icon icon-squaree"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.expiry.archive.error}}&nbsp;</span>&nbsp;
                                <span title="Files" class="text-muted text-icon icon-squaref"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.expiry.archive.file + data.expiry.archive.filescore + data.expiry.archive.cached_file}}&nbsp;</span>&nbsp;
                                <span title="Results" class="text-muted text-icon icon-squarer"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.expiry.archive.emptyresult + data.expiry.archive.result}}&nbsp;</span>&nbsp;
                                <span title="Submissions" class="text-muted text-icon icon-squares"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.expiry.archive.submission + data.expiry.archive.submission_summary + data.expiry.archive.submission_tree}}&nbsp;</span>&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                <div class="dashboard_card dashboard_card_big" ng-class="{ok: !alerter_in_error(data.alerter), error: alerter_in_error(data.alerter), disabled: data.alerter.instances==0}">
                    <div ng-show="alerter_in_error(data.alerter)" class="pull-right"><span class="text-danger text-icon icon-erroralt"></span></div>
                    <div class="title">Alerter :: x{{data.alerter.instances}}</div>

                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <div><label>Queues:</label></div>
                            <div>
                                <span title="Alert queue" class="text-muted text-icon icon-squarea"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.alerter.queues.alert}}&nbsp;</span>
                            </div>
                        </div>
                        <div class="col-sm-8 col-xs-12">
                            <div><label>Throughput: (for the last minute)</label></div>
                            <div>
                                <span title="Created alerts" class="text-muted text-icon icon-squarec"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.alerter.metrics.created}}&nbsp;</span>&nbsp;
                                <span title="Errors" ng-class="{'text-danger': data.alerter.metrics.error>0&&data.alerter.instances>0, 'text-muted': data.alerter.metrics.error==0||data.alerter.instances==0}" class="text-icon icon-squaree"></span><span ng-class="{'text-danger': data.alerter.metrics.error>0&&data.alerter.instances>0}" style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.alerter.metrics.error}}&nbsp;</span>&nbsp;
                                <span title="Received alert creation requests" class="text-muted text-icon icon-squarer"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.alerter.metrics.received}}&nbsp;</span>&nbsp;
                                <span title="Updated alerts" class="text-muted text-icon icon-squareu"></span><span style="vertical-align: top; font-size: 11pt;">&nbsp;{{data.alerter.metrics.updated}}&nbsp;</span>&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <div class="dashboard_card dashboard_card_big" ng-class="{error: data.scaler.cpu_free/data.scaler.cpu_total<0.1||data.scaler.memory_free/data.scaler.memory_total<0.1, ok: data.scaler.cpu_free/data.scaler.cpu_total>=0.1&&data.scaler.memory_free/data.scaler.memory_total>=0.1, disabled:data.scaler.cpu_free==0&&data.scaler.memory_free==0&&data.scaler.cpu_total==0&&data.scaler.memory_total==0}">
                    <div ng-show="data.scaler.cpu_free/data.scaler.cpu_total<0.1||data.scaler.memory_free/data.scaler.memory_total<0.1" class="pull-right"><span class="text-danger text-icon icon-erroralt"></span></div>
                    <div class="title">Resources</div>
                    <div class="row">
                        <div class="col-xs-6">
                            <center>
                                <div class="gauge chart-gauge-cpu"></div>
                            </center>
                        </div>
                        <div class="col-xs-6">
                            <center>
                                <div class="gauge chart-gauge-ram"></div>
                            </center>
                        </div>
                        <div class="col-xs-6">
                            <div class="text-center" style="font-weight: bold" ng-class="{'text-danger': data.scaler.cpu_free/data.scaler.cpu_total<0.1}">CPU ({{( 100-(data.scaler.cpu_free / data.scaler.cpu_total)*100) | number: 1}} %)</div>
                        </div>
                        <div class="col-xs-6">
                            <div class="text-center" style="font-weight: bold" ng-class="{'text-danger': data.scaler.memory_free/data.scaler.memory_total<0.1}">Ram ({{( 100-(data.scaler.memory_free / data.scaler.memory_total)*100) | number: 1}} %)</div>
                        </div>
                        <div class="col-xs-6">
                            <div class="text-center text-smaller">{{ data.scaler.cpu_total-data.scaler.cpu_free | number: 1 }} / {{data.scaler.cpu_total | number: 1 }} cores</div>
                        </div>
                        <div class="col-xs-6">
                            <div class="text-center text-smaller">{{ (data.scaler.memory_total-data.scaler.memory_free) / 1024 | number: 1 }} / {{data.scaler.memory_total / 1024 | number: 1 }} GBs</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div  ng-repeat="(service_name, service) in data.services.metrics">
                <div ng-if="data.services.up.indexOf(service_name) != -1" class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard_card" ng-class="{error: has_errors(service), ok: !has_errors(service)}">
                        <div class="pull-right"><span ng-show="has_errors(service)" class="text-danger text-icon icon-erroralt">&nbsp;&nbsp;</span></div>
                        <div class="title" style="padding-bottom: 10px">{{service_name}} :: {{service.instances}} / {{service.scaler.target}}</div>
                        <div class="row">
                            <div ng-class="{'text-danger': service.queue>(data.dispatcher.inflight.max/4)}" class="col-xs-6" title="Number of items in the service's queue"><span ng-class="{'text-danger': service.queue>(data.dispatcher.inflight.max/4), 'text-muted': service.queue<=(data.dispatcher.inflight.max/4)}" class="text-icon icon-squareq"></span>&nbsp;<span style="vertical-align: top; font-size: 11pt;">{{service.queue}}</span></div>
                            <div class="col-xs-6" title="Number of currently busy services"><span class="text-muted text-icon icon-squareb"></span>&nbsp;<span style="vertical-align: top; font-size: 11pt;">{{service.activity.busy}}</span></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6" title="Number of processed items in the last minute"><span class="text-muted text-icon icon-squarep"></span>&nbsp;<span style="vertical-align: top; font-size: 11pt;">{{service.metrics.execute}}</span></div>
                            <div ng-class="{'text-danger': service.metrics.fail_nonrecoverable>0}" class="col-xs-6" title="Number of failed items in the last minute"><span ng-class="{'text-danger': service.metrics.fail_nonrecoverable>0, 'text-muted': service.metrics.fail_nonrecoverable==0}" class="text-icon icon-squaref"></span>&nbsp;<span style="vertical-align: top; font-size: 11pt;">{{service.metrics.fail_recoverable+service.metrics.fail_nonrecoverable}}</span></div>
                        </div>
                    </div>
                </div>
                <div ng-if="data.services.down.indexOf(service_name) != -1" class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard_card disabled" >
                        <div class="title" style="padding-bottom: 10px">{{service_name}}</div>
                        <div class="pad text-large text-center text-muted">
                            OFFLINE
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin: 0;">
            <div class="bigpad ng-hide container" ng-show="loading">
                <div class="bigpad jumbotron text-center">
                    <h2 class="text-muted">Loading</h2>
                    <div class="throbber">
                        Loading
                    </div>
                </div>
            </div>
        </div>
	{%endraw%}
	</div>
{% endblock %}
		
