{% extends base_template %}

{% block html_param %}ng-app="app"{% endblock %}
{% block title_page %}AL - Heuristics Stats{% endblock %}
{% block js_import %}
	<script src="/static/js/heuristics_stats.js"></script>
{% endblock %}
{% block loading_menu %}ng-hide="!loading_extra"{% endblock %}
{% block content %}
	{%raw%}
	<section id="appContent" class="container">
		<div class="header_title text-right">
			<h1>Heuristic Statistics</h1>
			<h5 class="text-muted">{{total}}<span ng-show="total==10000">+</span> <span ng-show="!filtered">total </span>heuristic<span ng-show="total > 1">s </span><span ng-show="filtered"> (filtered)</span></h5>
		</div>
		<div>
			<div ng-controller="pagerCtrl" ng-init="stop_loading=false;pager_page='heuristic'" pager></div>
		</div>
		<section class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr class="active" style="cursor: pointer;">
						<th class="hover" ng-click="sort_stats('heur_id')">ID
                        	<span ng-show="sort.column=='heur_id' && sort.order" class="glyphicon glyphicon-sort-by-alphabet"></span><span ng-show="sort.column=='heur_id' && !sort.order" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                        </th>
                        <th ng-click="sort_stats('name')">Name
                        	<span ng-show="sort.column=='name' && sort.order" class="glyphicon glyphicon-sort-by-attributes"></span><span ng-show="sort.column=='name' && !sort.order" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        </th>
                        <th ng-click="sort_stats('count')">Count
                        	<span ng-show="sort.column=='count' && sort.order" class="glyphicon glyphicon-sort-by-attributes"></span><span ng-show="sort.column=='count' && !sort.order" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        </th>
                        <th ng-click="sort_stats('min')">Min Score
                        	<span ng-show="sort.column=='min' && sort.order" class="glyphicon glyphicon-sort-by-attributes"></span><span ng-show="sort.column=='min' && !sort.order" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        </th>
                        <th ng-click="sort_stats('avg')">Average Score
                        	<span ng-show="sort.column=='avg' && sort.order" class="glyphicon glyphicon-sort-by-attributes"></span><span ng-show="sort.column=='avg' && !sort.order" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        </th>
                        <th ng-click="sort_stats('max')">Max Score
                        	<span ng-show="sort.column=='max' && sort.order" class="glyphicon glyphicon-sort-by-attributes"></span><span ng-show="sort.column=='max' && !sort.order" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        </th>
                        <th ng-if="c12n_enforcing" ng-click="sort_stats('classification')">
                            Classification
                            <span ng-show="sort.column=='classification' && sort.order" class="glyphicon glyphicon-sort-by-alphabet"></span>
                            <span ng-show="sort.column=='classification' && !sort.order" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                        </th>
					</tr>
				</thead>
				<tbody>
					<tr ng-click="viewHeuristic(h.heur_id)" ng-repeat="h in heuristics_output" style="cursor: pointer;">
						<td>{{h.heur_id}}</td>
						<td>{{h.name | maxLength:50 | breakableStr}}</td>
						<td>{{h.count}}</td>
						<td>{{h.min}}</td>
                        <td>{{h.avg}}</td>
                        <td>{{h.max}}</td>
                        <td ng-if="c12n_enforcing">
                            <label class="label classification  {{h.classification | class_label_color}}">
                                {{h.classification | class_sm}}
                            </label>
                        </td>
					</tr>
				</tbody>
			</table>
		</section>
        <div ng-show="heuristics_list.length == 0 && searchText == ''" >
			<div class="jumbotron text-center">
				<h2 class="text-muted">
					Heuristics statistics have not been computed yet...
				</h2>
			</div>
		</div>
		<div ng-show="total == 0 && searchText != ''" >
			<div class="jumbotron text-center">
				<h2 class="text-muted">
					There are no matching heuristics found.
				</h2>
			</div>
		</div>


		<!-- HIDE FOLLOWING: Should go inside a modal form -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-resize">
				<div class="modal-content">
					<div class="modal-header">
						<section class="row">
							<div class="col-md-9">
								<div class="text-larger modal_title" id="myModalLabel">Heuristic Details</div>
								<div class="text-muted breakable">{{current_heuristic.heur_id}}</div>
							</div>
                            <div ng-if="user.c12n_enforcing" class="col-md-3">
                                <label class="control-label">
                                    Classification
                                </label>
                                <label class="label classification  {{current_heuristic.classification | class_label_color}}">
                                    {{current_heuristic.classification | class_sm}}
                                </label>
                            </div>
						</section>
					</div>

					<div class="modal-body">
						<section class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Name</label>
									<input type="text" class="form-control input-sm input-medium" ng-model="current_heuristic.name" disabled="disabled">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">File Type</label>
									<input type="text" class="form-control input-sm input-medium" ng-model="current_heuristic.filetype" disabled="disabled">
								</div>
							</div>
						</section>
						<section class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Description</label>
									<pre>{{current_heuristic.description}}</pre>
								</div>
							</div>
						</section>
                        <section class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label class="control-label">Score</label>
									<input type="text" class="form-control input-sm input-medium" ng-model="current_heuristic.score" disabled="disabled">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="control-label">Max Score</label>
									<input type="text" class="form-control input-sm input-medium" ng-model="current_heuristic.max_score" disabled="disabled">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="control-label">Att&ck ID(s)</label>
									<input type="text" class="form-control input-sm input-medium" ng-model="current_heuristic.attack_id" disabled="disabled">
								</div>
							</div>
						</section>
						<section class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Signature Score Map</label>
									<pre>{{current_heuristic.signature_score_map}}</pre>
								</div>
							</div>
						</section>

                        <label>Section contribution statistics</label>
                        <section class="table-responsive">
							<table class="table" style="border: 1px solid #ddd;">
								<thead>
									<tr class="active">
										<th>Hit Count</th><th>Min Section Score</th><th>Average Section Score</th><th>Max Section Score</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>{{current_heuristic.count}}</td>
										<td>{{current_heuristic.min}}</td>
										<td>{{current_heuristic.avg}}</td>
										<td>{{current_heuristic.max}}</td>
									</tr>
								</tbody>
							</table>
						</section>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- END HIDE -->
	</section>
	{%endraw%}
{% endblock %}				
{% block loading_jumbo %}ng-hide="heuristics_output != null"{% endblock %}
