<html ng-app="app" class="ng-scope">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatbile" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AssemblyLine - Login</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/auth.css"/>
    <link rel="stylesheet" href="/static/css/whhg.css"/>
    {% block fav_icon %}<link rel="shortcut icon" href="/static/images/favicon.ico"/>{% endblock %}
    <script src="/static/js/cbor/cbor.js"></script>
    <script src="/static/js/jquery/jquery-2.1.0.min.js"></script>
    <script src="/static/js/angular/angular.js"></script>
    <script src="/static/js/login.js"></script>
</head>
<body ng-controller="ALController" ng-init="username='{{username}}';providers={{providers}};oauth_validation={{oauth_validation}};up_login={{up_login}};oauth_token='{{oauth_token}}';oauth_error='{{oauth_error}}';next='{{next}}';start();">
<div class="container-fluid">
    <div class="row-fluid">
        <div class="centering text-center">
            <div class="container">
                <div class="card card-container">
                    <a href="/">{% block banner %}<img class="banner-img" src="/static/images/banner.svg">{% endblock %}</a>
                    <form ng-show="!signup_mode && !signed_up" class="form-signin" ng-submit="login()">
                        {% if avatar %}
                        <div ng-show="!security_token_request && !otp_request && oauth_validation" style="display: inline-block; text-align: center; width: 250px; height: 200px;">
                            <img class="profile-img-card" id="avatar" src="{{ avatar }}"/>
                            <div class="profile-name-card">
                                <b>{{ username }}</b>
                            </div>
                        </div>
                        {% endif %}
                        <div ng-show="!security_token_request && !otp_request && up_login && !oauth_validation">
                            <input autocapitalize="none" ng-disabled="oauth_validation" ng-model="username" id="inputUser" class="form-control" placeholder="Username" required autofocus>
                            <input autocapitalize="none" ng-disabled="oauth_validation" ng-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        </div>

                        <div ng-show="!security_token_request && otp_request">
                            <input ng-model="otp" id="inputOTP" class="form-control" placeholder="OTP Token" type="tel" maxlength="6" minlength="6">
                        </div>

                        <div ng-show="security_token_request && !otp_request">
                            <div class="icon-lock" style="font-size: 700%;"></div>
                            <p>Please touch the flashing security token now.</p>
                            <p>Having trouble finding your security key? <a style="cursor: hand" ng-click="switch_to_otp()">Enter a verification code instead.</a></p>
                        </div>

                        <button ng-show="!security_token_request && (up_login || otp_request || oauth_validation)" ng-disabled="loading==true" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
                        {% raw %}
                        <div class="text-danger"><b>{{error}}</b></div>
                        {% endraw %}

                        <div ng-show="!security_token_request && !otp_request && oauth_validation" style="margin-top: 15px">
                            <a style="cursor: hand;" ng-click="switch_user()">Or sign in as a different user...</a>
                        </div>

                        {% if signup %}
                        <div style="margin-top: 15px" ng-show="!security_token_request && !otp_request && up_login && !oauth_validation">
                            Do not have an account?
                            <a style="cursor: hand;" ng-click="switch_to_signup()">Sign up!</a>
                            <div style="margin-top: 10px">
                                Forgot password?
                                <a style="cursor: hand;" href="reset.html">Reset it!</a>
                            </div>
                        </div>
                        {% endif %}

                        <div ng-show="!security_token_request && !otp_request && up_login && providers.length!=0 && !oauth_validation">
                            <div class="action_divider"><div>OR</div></div>
                        </div>
                        {% raw %}
                        <div ng-show="!security_token_request && !otp_request && !oauth_validation && providers.length!=0">
                            <a ng-repeat="p in providers" ng-disabled="loading==true" style="margin-top: 10px" class="btn btn-primary btn-block" href="/api/v4/auth/login/?oauth_provider={{p}}">Sign-in with {{p | titleCase}}</a>
                            <div class="text-danger" style="padding-top: 10px"><b>{{oauth_error}}</b></div>
                        </div>
                        {% endraw %}
                        <div ng-show="!up_login && providers.length==0">
                            <b>There are no available way to sign-in to this assemblyline instance.</b>
                        </div>
                    </form>
                    {% if signup %}
                    <form ng-show="signup_mode && !signed_up" class="form-signin" ng-submit="signup()">
                        {% raw %}
                        <input autocapitalize="none" ng-model="username_signup" type="text" id="inputUserSignup" class="form-control" placeholder="Username" required autofocus/>
                        <input autocapitalize="none" ng-model="password_signup" type="password" id="inputPasswordSignup" class="form-control" placeholder="Password" required/>
                        <input autocapitalize="none" ng-model="password_signup_confirm" type="password" id="inputPasswordSignupConfirm" class="form-control" placeholder="Confirm Password" required/>
                        <input autocapitalize="none" ng-model="email_signup" type="email" id="inputEmail" class="form-control" placeholder="Email address" required/>

                        <div class="text-danger"><b>{{error}}</b></div>
                        <button ng-show="signup_mode" ng-disabled="loading==true" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign up</button>
                        {% endraw %}
                    </form>
                    <div ng-show="signed_up">
                        Check your email for confirmation link.
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>