<html ng-app="app" class="ng-scope">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatbile" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AssemblyLine - Logout</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/auth.css"/>
    {% block fav_icon %}<link rel="shortcut icon" href="/static/images/favicon.ico"/>{% endblock %}
    <script src="/static/js/angular/angular.js"></script>
    <script src="/static/js/logout.js"></script>
</head>
<body ng-controller="ALController" ng-init="start();">
<div class="container-fluid">
    <div class="row-fluid">
        <div class="centering">
            <div class="container">
                <div class="card card-container">
                    {% block banner %}<img class="banner-img" src="/static/images/banner.svg">{% endblock %}
                    <strong class="text-big">Logging out...</strong>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>