{% extends base_template %}
{% block title_page %}AL - Search help{% endblock %}
{% block body_param %}data-target=".bs-docs-sidebar" data-scroll-offset="60" data-spy="scroll"{% endblock %}
{% block content %}
<section id="appContent" class="container">
	<div class="header_title text-right">
		<h1>Search Help</h1>
		<h5 class="text-muted">Query Syntax</h5>
	</div>

	<div class="row">
		<div class="col-md-10">

			<section id="query_string" class="bs-docs-section">
				<h2 class="anchor-offset">Overview</h2>
				<p>
				    The query string “mini-language” is used by the Search API. Operators allow you to customize the search -- the available options are explained bellow:
				</p>
			</section>
        
			<section id="basic" class="bs-docs-section">
				<h2 class="anchor-offset">Basic Search</h2>
				<p>The query string is parsed into a series of terms and operators. A term can be a single word  like <b>quick</b>, <b>brown</b> or a phrase, surrounded by double quotes <b>"quick brown"</b> which searches for all the words in the phrase, in the same order.</p>
				<p><b>Examples:</b></p>
				<pre>"quick brown fox"</pre>
				<pre>quick OR brown OR fox</pre>
			</section>

			<section id="fields" class="bs-docs-section">
				<h2 class="anchor-offset">Field names</h2>
				<p>By using basic search, only the <i>default field</i> is searched for the search terms, but it is possible to specify other fields in the query syntax:</p>
				<p><b>Exemples:</b></p>
				<ul>
					<li>
						where the status field contains active
						<pre>status:active</pre>
					</li>
					<li>
						where the title field contains quick or brown
						<pre>title:(quick OR brown)</pre>
					</li>
					<li>
						where the author field contains the exact phrase "john smith"
						<pre>author:"John Smith"</pre>
					</li>
					<li>
						where any of the fields book.title, book.content or book.date contains quick or brown (note how we need to escape the * with a backslash):
						<pre>book.\*:(quick OR brown)</pre>
					</li>
					<li>
						where the field title has any non-null value:
						<pre>_exists_:title</pre>
					</li>
				</ul>

				<p>The Assemblyline datastore is divided in multiple indexes. Each collection has the following field available for searches. Default fields are copied over to the default search field that is used in the case where you only use basic search. Stored field will be returned by the index when issuing a query.</p>
				<p><b>Important: </b> When using the search engine in the UI, your search query is performed on all these buckets at the same time.</p>

				{% for index, fields in field_list.items() %}
				<section id="{{ index }}" class="bs-docs-section">
					<h3 class="anchor-offset">{{ index.title() }} index:</h3>

					<table class="table table-hover table-striped table-condensed">
						<thead>
							<tr class="active"><th>Field name</th><th>Type</th><th>Attributes</th></tr>
						</thead>
						<tbody>
							{% for field, val in fields%}
							<tr><td width="50%" class="breakable">{{ field }}</td><td>{{ val.type }}</td><td>{% if val.stored %}<span title="Values will be returned during searches" class="label label-tag label-info">stored</span>&nbsp;{% endif %}{% if val.default %}<span title="Values will be search during non-field specific searches" class="label label-tag label-primary">default</span>&nbsp;{% endif %}{% if val.list %}<span title="Field hosts multiple values" class="label label-tag label-warning">list</span>{% endif %}</td></tr>
							{% endfor %}
						</tbody>
					</table>
				</section>
				{% endfor %}

			</section>

			<section id="wildcards" class="bs-docs-section">
				<h3 class="anchor-offset">Wildcards</h3>
				<p>Wildcard searches can be run on individual terms, using <b>?</b> to replace a single character, and <b>*</b> to replace zero or more characters:</p>
				<pre>qu?ck bro*</pre>
				<p>Be aware that wildcard queries can use an enormous amount of memory and perform very badly — just think how many terms need to be queried to match the query string "a* b* c*".</p>
				<p><b>Note:</b> Allowing a wildcard at the beginning of a word (eg "*ing") is particularly heavy, because all terms in the index need to be examined, just in case they match.</p>
			</section>
			<section id="regex" class="bs-docs-section">
				<h3 class="anchor-offset">Regular Expressions</h3>
				<p>Regular expression patterns can be embedded in the query string by wrapping them in forward-slashes ("/"):</p>
				<pre>name:/joh?n(ath[oa]n)/</pre>
				<p><b>Warning</b></p>
				<p>Having a wildcard as the leading parameter does not have any control over regular expressions. A query string such as the following would force the datastore to visit every term in the index, <b>Use with caution!</b>:</p>
				<pre>/.*n/</pre>
				<p>The supported regular expression syntax is the following:</p>
				<section id="regex_anchor" class="bs-docs-section">
					<h4 class="anchor-offset">Anchoring</h4>
					<p>Most regular expression engines allow you to match any part of a string. If you want the regexp pattern to start at the beginning of the string or finish at the end of the string, then you have to anchor it specifically, using ^ to indicate the beginning or $ to indicate the end.</p>
					<p>Lucene’s patterns are always anchored. The pattern provided must match the entire string. For string "abcde":</p>
					<pre>
ab.*     # match
abcd     # no match</pre>
				</section>
				<section id="regex_allowed" class="bs-docs-section">
					<h4 class="anchor-offset">Allowed characters</h4>
					<p>Any Unicode characters may be used in the pattern, but certain characters are reserved and must be escaped. The standard reserved characters are:</p>
					<pre>. ? + * | { } [ ] ( ) " \</pre>
					<p>Any reserved character can be escaped with a backslash "\*" including a literal backslash character: "\\"</p>
					<p>Additionally, any characters (except double quotes) are interpreted literally when surrounded by double quotes:</p>
					<pre>john"@smith.com"</pre>
				</section>
				<section id="regex_match" class="bs-docs-section">
					<h4 class="anchor-offset">Match any character</h4>
					<p>The period "." can be used to represent any character. For string "abcde":</p>
					<pre>
ab...   # match
a.c.e   # match</pre>
				</section>
				<section id="regex_oneplus" class="bs-docs-section">
					<h4 class="anchor-offset">One-or-more</h4>
					<p>The plus sign "+" can be used to repeat the preceding shortest pattern once or more times. For string "aaabbb":</p>
					<pre>
a+b+        # match
aa+bb+      # match
a+.+        # match
aa+bbb+     # match</pre>
				</section>
				<section id="regex_zeroplus" class="bs-docs-section">
					<h4 class="anchor-offset">Zero-or-more</h4>
						<p>The asterisk "*" can be used to match the preceding shortest pattern zero-or-more times. For string "aaabbb":</p>
						<pre>
a*b*        # match
a*b*c*      # match
.*bbb.*     # match
aaa*bbb*    # match</pre>
				</section>
				<section id="regex_zeroone" class="bs-docs-section">
					<h4 class="anchor-offset">Zero-or-one</h4>
					<p>The question mark "?" makes the preceding shortest pattern optional. It matches zero or one times. For string "aaabbb":</p>
					<pre>
aaa?bbb?    # match
aaaa?bbbb?  # match
.....?.?    # match
aa?bb?      # no match</pre>
				</section>
				<section id="regex_minmax" class="bs-docs-section">
					<h4 class="anchor-offset">Min-to-max</h4>
					<p>Curly brackets "{}" can be used to specify a minimum and (optionally) a maximum number of times the preceding shortest pattern can repeat. The allowed forms are:</p>
					<pre>
{5}     # repeat exactly 5 times
{2,5}   # repeat at least twice and at most 5 times
{2,}    # repeat at least twice</pre>
					<p>For string "aaabbb":</p>
					<pre>
a{3}b{3}        # match
a{2,4}b{2,4}    # match
a{2,}b{2,}      # match
.{3}.{3}        # match
a{4}b{4}        # no match
a{4,6}b{4,6}    # no match
a{4,}b{4,}      # no match</pre>
				</section>
				<section id="regex_group" class="bs-docs-section">
					<h4 class="anchor-offset">Grouping</h4>
					<p>Parentheses "()" can be used to form sub-patterns. The quantity operators listed above operate on the shortest previous pattern, which can be a group. For string "ababab":</p>
					<pre>
(ab)+       # match
ab(ab)+     # match
(..)+       # match
(...)+      # no match
(ab)*       # match
abab(ab)?   # match
ab(ab)?     # no match
(ab){3}     # match
(ab){1,2}   # no match</pre>
				</section>
				<section id="regex_altern" class="bs-docs-section">
					<h4 class="anchor-offset">Alternation</h4>
					<p>The pipe symbol "|" acts as an OR operator. The match will succeed if the pattern on either the left-hand side OR the right-hand side matches. The alternation applies to the longest pattern, not the shortest. For string "aabb":</p>
					<pre>
aabb|bbaa   # match
aacc|bb     # no match
aa(cc|bb)   # match
a+|b+       # no match
a+b+|b+a+   # match
a+(b|c)+    # match</pre>
				</section>
				<section id="regex_classes" class="bs-docs-section">
					<h4 class="anchor-offset">Character classes</h4>
					<p>Ranges of potential characters may be represented as character classes by enclosing them in square brackets "[]". A leading ^ negates the character class. The allowed forms are:</p>
					<pre>
[abc]   # 'a' or 'b' or 'c'
[a-c]   # 'a' or 'b' or 'c'
[-abc]  # '-' or 'a' or 'b' or 'c'
[abc\-] # '-' or 'a' or 'b' or 'c'
[^abc]  # any character except 'a' or 'b' or 'c'
[^a-c]  # any character except 'a' or 'b' or 'c'
[^-abc]  # any character except '-' or 'a' or 'b' or 'c'
[^abc\-] # any character except '-' or 'a' or 'b' or 'c'</pre>
					<p>Note that the dash "-" indicates a range of characters, unless it is the first character or if it is escaped with a backslash.</p>
					<p>For string "abcd":</p>
					<pre>
ab[cd]+     # match
[a-d]+      # match
[^a-d]+     # no match</pre>
				</section>
			</section>
			<section id="fuzzy_searches" class="bs-docs-section">
				<h3 class="anchor-offset">Fuziness</h3>
				<p>We can search for terms that are similar to, but not exactly like our search terms, using the “fuzzy” operator:</p>
				<pre>quikc~ brwn~ foks~</pre>
				<p>This uses the Damerau-Levenshtein distance to find all terms with a maximum of two changes, where a change is the insertion, deletion or substitution of a single character, or transposition of two adjacent characters.</p>
				<p>The default edit distance is 2, but an edit distance of 1 should be sufficient to catch 80% of all human misspellings. It can be specified as:</p>
				<pre>quikc~1</pre>
			</section>
			<section id="proximity_searches" class="bs-docs-section">
				<h3 class="anchor-offset">Proximity Searches</h3>
				<p>While a phrase query (eg "john smith") expects all of the terms in exactly the same order, a proximity query allows the specified words to be further apart or in a different order. In the same way that fuzzy queries can specify a maximum edit distance for characters in a word, a proximity search allows us to specify a maximum edit distance of words in a phrase:</p>
				<pre>"fox quick"~5</pre>
				<p>The closer the text in a field is to the original order specified in the query string, the more relevant that document is considered to be. When compared to the above example query, the phrase "quick fox" would be considered more relevant than "quick brown fox".</p>
			</section>
			<section id="ranges" class="bs-docs-section">
				<h3 class="anchor-offset">Ranges</h3>
				<p>Ranges can be specified for date, numeric or string fields. Inclusive ranges are specified with square brackets [min TO max] and exclusive ranges with curly brackets {min TO max}.</p>
				<ul>
					<li>
						All days in 2012:
						<pre>date:[2012-01-01 TO 2012-12-31]</pre>
					</li>
					<li>
						Everything this year: (Using <a href="#datemath_syntax" target="_self">DateMath syntax</a>)
						<pre>date:[now/y TO now/y+1y]</pre>
					</li>
					<li>
						Everything since the year of specific date: (Using <a href="#datemath_syntax" target="_self">DateMath syntax</a>)
						<pre>date:[2012-06-08||/y TO now]</pre>
					</li>
					<li>
						Numbers 1..5
						<pre>count:[1 TO 5]</pre>
					</li>
					<li>
						Tags between alpha and omega, excluding alpha and omega:
						<pre>tag:{alpha TO omega}</pre>
					</li>
					<li>
						Numbers from 10 upwards
						<pre>count:[10 TO *]</pre>
					</li>
					<li>
						Dates before 2012
						<pre>date:{* TO 2012-01-01}</pre>
					</li>
				</ul>
				<p>Curly and square brackets can be combined:</p>
				<ul>
					<li>
						Numbers from 1 up to but not including 5
						<pre>count:[1 TO 5}</pre>
					</li>
				</ul>
				<p>Ranges with one side unbounded can use the following syntax:</p>
				<pre>
age:>10
age:>=10
age:<10
age:<=10</pre>
				<p>To combine an upper and lower bound with the simplified syntax, you would need to join two clauses with an AND operator:</p>
				<pre>
age:(>=10 AND <20)
age:(+>=10 +<20)</pre>
				<section id="datemath_syntax" class="bs-docs-section">
					<h3 class="anchor-offset">DateMath Syntax</h3>
					<p>The expression starts with an anchor date, which can either be <b>now</b>, or a <b>date string ending with ||</b>. This anchor date can optionally be followed by one or more maths expressions:</p>
					<ul>
						<li>+1h: Add one hour</li>
						<li>-1d: Subtract one day</li>
						<li>/d: Round down to the nearest day</li>
					</ul>
					<p>The supported time units differ from those supported by time units for durations. The supported units are:</p>
					<pre>
y    =>    Years
M    =>    Months
w    =>    Weeks
d    =>    Days
h    =>    Hours
H    =>    Hours
m    =>    Minutes
s    =>    Seconds</pre>
					<p>Assuming now is <b>2001-01-01 12:00:00</b>, some examples are:</p>
					<pre>
now+1h             =>  now in milliseconds plus one hour. Resolves to: 2001-01-01 13:00:00
now-1h             =>  now in milliseconds minus one hour. Resolves to: 2001-01-01 11:00:00
now-1h/d           =>  now in milliseconds minus one hour, rounded by day. Resolves to: 2001-01-01 00:00:00
2001.02.01||+1M/d  =>  2001-02-01 in milliseconds plus one month rounded by day. Resolves to: 2001-03-01 00:00:00</pre>
				</section>

			</section>

		<section id="boolean_operators" class="bs-docs-section">
			<h2 class="anchor-offset">Boolean Operators</h2>
			<p>By default, all terms are optional, as long as one term matches. A search for foo bar baz will find any document that contains one or more of foo or bar or baz. We have already discussed the default_operator above which allows you to force all terms to be required, but there are also boolean operators which can be used in the query string itself to provide more control.</p>
			<p>The preferred operators are + (this term must be present) and - (this term must not be present). All other terms are optional. For example, this query:</p>
			<pre>quick brown +fox -news</pre>
			<p>states that:</p>
			<ul>
				<li>fox must be present</li>
				<li>news must not be present</li>
				<li>quick and brown are optional — their presence increases the relevance</li>
			</ul>
			<p>The familiar boolean operators AND, OR and NOT (also written &&, || and !) are also supported but beware that they do not honor the usual precedence rules, so parentheses should be used whenever multiple operators are used together. For instance the previous query could be rewritten as:</p>
			<pre>((quick AND fox) OR (brown AND fox) OR fox) AND NOT news</pre>
			<p>This form now replicates the logic from the original query correctly, but the relevance scoring bears little resemblance to the original.</p>

			<section id="grouping" class="bs-docs-section">
				<h2 class="anchor-offset">Grouping</h2>
				<p>Multiple terms or clauses can be grouped together with parentheses, to form sub-queries:</p>
				<pre>(quick OR brown) AND fox</pre>
				<p>Groups can also be used to target a particular field:</p>
				<pre>status:(active OR pending) title:(+full -"text search")</pre>
			</section>
		</section>

		<section id="reserved" class="bs-docs-section">
			<h2 class="anchor-offset">Reserved Characters</h2>
			<p>If you need to use any of the characters which function as operators in your query itself (and not as operators), then you should escape them with a leading backslash.</p>
			<p> For instance, to search for <b>(1+1)=2</b>, you would need to write your query as:</p>
			<pre>\(1\+1\)\=2</pre>
			<p>The reserved characters are: </p>
			<pre>+ - = && || > < ! ( ) { } [ ] ^ " ~ * ? : \ /</pre>
			<p>Failing to escape these special characters correctly could lead to a syntax error which prevents your query from running.</p>
			<p><b>Note:</b> <b><</b> and <b>></b> can’t be escaped at all. The only way to prevent them from attempting to create a range query is to remove them from the query string entirely.</p>
		</section>
		</div>

		<!-- SIDENAV -->
		<div class="col-md-2 hidden-sm hidden-xs">
			<div data-spy="affix" data-offset-top="100" class="bs-docs-sidebar hidden-print" role="complementary">
			    <ul class="nav bs-docs-sidenav">
			        <li>
			            <a href="#query_string" target="_self">Overview</a>
			        </li>
			        <li>
			            <a href="#basic" target="_self">Basic Search</a>
			        </li>
			        <li>
			            <a href="#fields" target="_self">Fields</a>
			            <ul class="nav">
							<li>
								<a href="#alert" target="_self">Alert index</a>
							</li>
							<li>
								<a href="#file" target="_self">File index</a>
							</li>
							<li>
								<a href="#heuristic" target="_self">Heuristic index</a>
							</li>
							<li>
								<a href="#result" target="_self">Result index</a>
							</li>
							<li>
								<a href="#signature" target="_self">Signature index</a>
							</li>
							<li>
								<a href="#submission" target="_self">Submission index</a>
							</li>
							<li>
								<a href="#workflow" target="_self">Workflow index</a>
							</li>
					    </ul>
			        </li>
					<li>
						<a href="#wildcards" target="_self">Wildcards</a>
					</li>
					<li>
						<a href="#regex" target="_self">Regular Expressions</a>
						<ul class="nav">
							<li>
								<a href="#regex_anchor" target="_self">Anchoring</a>
							</li>
							<li>
								<a href="#regex_allowed" target="_self">Allowed Characters</a>
							</li>
							<li>
								<a href="#regex_match" target="_self">Match Any</a>
							</li>
							<li>
								<a href="#regex_oneplus" target="_self">One or More</a>
							</li>
							<li>
								<a href="#regex_zeroplus" target="_self">Zero or More</a>
							</li>
							<li>
								<a href="#regex_zeroone" target="_self">Zero or one</a>
							</li>
							<li>
								<a href="#regex_minmax" target="_self">Min to Max</a>
							</li>
							<li>
								<a href="#regex_group" target="_self">Grouping</a>
							</li>
							<li>
								<a href="#regex_altern" target="_self">Alternation</a>
							</li>
							<li>
								<a href="#regex_classes" target="_self">Character Class</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#fuzzy_searches" target="_self">Fuzziness</a>
					</li>
					<li>
						<a href="#proximity_searches" target="_self">Proximity Searches</a>
					</li>
					<li>
						<a href="#ranges" target="_self">Ranges</a>
						<ul class="nav">
			                <li>
			                    <a href="#datemath_syntax" target="_self">DateMath Syntax</a>
			                </li>
			            </ul>
					</li>
			        <li>
			        	<a href="#boolean_operators" target="_self">Boolean Operators</a>
			        </li>
			        <li>
			            <a href="#grouping" target="_self">Grouping</a>
			        </li>
			        <li>
			            <a href="#reserved" target="_self">Reserved Characters</a>
			        </li>
			    </ul>
			    <a class="back-to-top" href="#top" target="_self">Back to top</a>
			</div>
		</div>
	
	</div>
</section>
{% endblock %}
