{% extends base_template %}
{% block html_param %}ng-app="app"{% endblock %}
{% block title_page %}AL - Search{% endblock %}
{% block js_import %}
	<script src="/static/js/search.js"></script>
{% endblock %}
{% block ng_init %}ng-controller="ALController" ng-init="user={{user_js}};settings={{settings}};debug={{debug}};{% if search_scope %}search_scope='{{search_scope}}';scoped_search=true;{% endif %}{% if use_archive %}use_archive={{use_archive}};{% endif %}{% if query %}query='{{query}}';{% endif %};start();"{% endblock %}
{% block loading_menu %}ng-hide="!loading_extra"{% endblock %}
{% block content %}
	{%raw%}
	<section id="appContent" class="container">
		<div class="header_title text-right">
			<h1>Search</h1>
			<h5 style="margin-bottom: 0; padding-bottom: 0" class="text-muted"><span ng-if="query">{{query}}&nbsp;&nbsp;-&nbsp;&nbsp;</span><span ng-if="search_scope=='all'">All indexes</span><span ng-if="search_scope!='all'">{{search_scope | titleCase}} index</span></h5>
		</div>

		<div ng-controller="SearchController" ng-init="page='search';load_favorites=true;load_global_favorites=false" class="bigpad">
            <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-resize">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal_title" id="myModalLabel">Adding query to favorites</h4>
                        </div>
                        <div class="modal-body">
                            <div>What name do you want this query to have in your favorite list?</div>
                            <div class="pad text-muted">{{cur_favorite.query}}</div>
                            <div id="modal-form" class="form-group">
                                <input type="text" id="confirm" class="form-control" ng-model="cur_favorite.name">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button id="default_btn" type="button" class="btn btn-primary" ng-click="addToFavorites();">Add to favorites</button>
                        </div>
                    </div>
                </div>
            </div>

			<form id="search-term" class="input-group" action="/search.html" method="get" role="search">
				<input type="hidden" name="search_scope" value="{{search_scope}}"/>
                <input type="hidden" name="use_archive" value="{{use_archive}}"/>
				<div class="inner-addon right-addon">
                    <span ng-show="new_query&&!inFavorites(new_query)" ng-click="promptAddFavorites(new_query)" class="text-muted glyphicon glyphicon-star-empty" title="Add to favorites"></span>
                    <span ng-show="inFavorites(new_query)" ng-click="removeFromFavorites(nameOfQuery(new_query))" class="text-info glyphicon glyphicon-star" title="Remove from favorites"></span>
                    <input autocomplete="off" id="search-box" placeholder="Search query" name="query" type="text" class="form-control" ng-model="new_query" typeahead="s for s in suggestions[search_scope] | filter:$viewValue | limitTo:20" typeahead-min-length='1' typeahead-on-select='onSelectPart($item, $model, $label)' />
                </div>
				<span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Search</button>
					<span class="btn btn-primary" data-toggle="collapse" data-target="#searchMenu">
						<span class="caret"></span>
					</span>
                </span>
			</form>
            <div id="searchMenu" class="collapse">
				<section class="menudata">
					<div class="row" >
						<div class="hidden-lg hidden-md hidden-sm col-xs-12" style="margin-bottom: 10px">
							<label style="margin-top: 5px">Search Scope</label>
							<select class="form-control input-sm" ng-model="search_scope" ng-change="reset()" ng-options="scope.value as scope.name for scope in scopes"></select>
						</div>
						<div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
							<div class="menuheader" data-toggle="collapse" data-target="#favorites">
								<span class="text-big">Favorites</span>
							</div>
							<div id="favorites" class="collapse in">
								<div ng-hide="favorites.length != 0"><i>No favorites</i></div>
    							<a ng-repeat="fav in favorites" href="/search.html?query={{fav.query}}" style="display: block">{{fav.name}}</a>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-4 hidden-xs">
							<label style="margin-top: 5px">Search Scope</label>
							<select class="form-control input-sm" ng-model="search_scope" ng-change="reset()" ng-options="scope.value as scope.name for scope in scopes"></select>

							<label style="margin-top: 10px; margin-bottom: 0">Query Archive</label>
                            <div class="radio">
                                <label ng-class="{checked: use_archive}">
                                    <input style="margin-top: 0" type="radio" name="use_archive" ng-click="enable_archive()" ng-checked="use_archive">
                                    Enabled
                                </label>
                            </div>
                            <div class="radio">
                                <label ng-class="{checked: !use_archive}">
                                    <input style="margin-top: 0" type="radio" name="use_archive" ng-click="disable_archive()" ng-checked="!use_archive">
                                    Disabled
                                </label>
                            </div>
						</div>
					</div>

				</section>
			</div>
			<div class="pull-right">
				<a class="btn btn-link" href="/search_help.html"><span class="glyphicon glyphicon-question-sign">&nbsp;</span>Query&nbsp;Syntax</a>
			</div>
			<div class="text-danger"><b>{{invalid_query}}</b></div>
		</div>
		
		<div class="pull-right hidden-xs">
			<a href="/api/v4/signature/download/?query={{query}}" title="Download signatures" ng-show="export_btn" class="btn btn-default" style="font-size: 10pt; margin-top: 5px;"><span class="glyphicon glyphicon-download-alt"><span class="hidden-sm hidden-xs">&nbsp;</span></span><span class="hidden-sm hidden-xs">Download Signatures</span></a>
		</div>
		<div ng-controller="pagerCtrl" ng-init="stop_loading=false;pager_page='search'" ng-hide="file_list.items == null && submission_list.items == null && result_list.items == null && alert_list.items == null && signature_list.items == null">
			<ul class="nav nav-tabs" id="tabContent" ng-show="!scoped_search">
				<li id="submission_tab" class="active"><a href="#submission" data-toggle="tab" ng-click="page_switch(submission_list);show_export_btn(false)">Submissions ({{(submission_list.total === undefined) ? "..." : submission_list.total}}<span ng-show="submission_list.total==10000">+</span>)</a></li>
				<li id="file_tab"><a href="#file" data-toggle="tab" ng-click="page_switch(file_list);show_export_btn(false)">Files ({{(file_list.total === undefined) ? "..." : file_list.total}}<span ng-show="file_list.total==10000">+</span>)</a></li>
				<li id="result_tab"><a href="#result" data-toggle="tab" ng-click="page_switch(result_list);show_export_btn(false)">Results ({{(result_list.total === undefined) ? "..." : result_list.total}}<span ng-show="result_list.total==10000">+</span>)</a></li>
				{% endraw %}
                {% if not is_readonly %}
	            {%raw%}
                    <li id="signature_tab"><a href="#signature" data-toggle="tab" ng-click="page_switch(signature_list);show_export_btn(total>0)">Signatures ({{(signature_list.total === undefined) ? "..." : signature_list.total}}<span ng-show="signature_list.total==10000">+</span>)</a></li>
				{% endraw %}
                {% endif %}
	            {%raw%}
                <li id="alert_tab"><a href="#alert" data-toggle="tab" ng-click="page_switch(alert_list);show_export_btn(false)">Alerts ({{(alert_list.total === undefined) ? "..." : alert_list.total}}<span ng-show="alert_list.total==10000">+</span>)</a></li>
			</ul>
			<div class="text-large text-muted" ng-show="scoped_search" style="padding-bottom: 10px">
                <div ng-show="submission_list.total > 0">
                    <div>{{submission_list.total}}<span ng-show="submission_list.total==10000">+</span> submissions found</div>
                </div>
                <div ng-show="file_list.total > 0">
                    <div>{{file_list.total}}<span ng-show="file_list.total==10000">+</span> files found</div>
                </div>
                <div ng-show="result_list.total > 0">
                    <div>{{result_list.total}}<span ng-show="result_list.total==10000">+</span> results found</div>
                </div>
                <div ng-show="signature_list.total > 0">
                    <div>{{signature_list.total}}<span ng-show="signature_list.total==10000">+</span> signatures found</div>
                </div>
                <div ng-show="alert_list.total > 0">
                    <div>{{alert_list.total}}<span ng-show="alert_list.total==10000">+</span> alerts found</div>
                </div>
            </div>
						
			<div class="tab-content">
				<div class="tab-pane active" style="margin-top: 20px" id="submission">
                    <div ng-show="submission_list.total > 0">
						<div pager></div>
					</div>
					<section class="table-responsive" ng-show="submission_list.total > 0">
						<table class="table table-hover table-striped table-clickthrough">
							<thead>
								<tr class="active">
									<th nowrap>Start Time</th><th>Verdict</th><th>Description</th><th>User</th><th nowrap># Files</th><th ng-if="user.c12n_enforcing">Classification</th><th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="submission in submission_list.items | orderBy:'times.submitted':true">
									<td nowrap><a href="/{{get_default_view(submission)}}.html?sid={{submission.sid}}">{{submission.times.submitted | date:'yyyy-MM-dd HH:mm:ss'}}</a></td>
									<td><a href="/{{get_default_view(submission)}}.html?sid={{submission.sid}}"><span ng-show="submission.state=='completed'" title="Maximum Score: {{ submission.max_score }}" class="label classification {{submission.max_score | verdict_color}}">{{submission.max_score | verdict}}</span><span class='text-muted' ng-show="submission.state=='failed'">N/A</span></a></td>
						            <td width="100%"><a href="/{{get_default_view(submission)}}.html?sid={{submission.sid}}">{{submission.params.description | maxLength:120 | breakableStr}}</a></td>
									<td nowrap><a href="/{{get_default_view(submission)}}.html?sid={{submission.sid}}">{{submission.params.submitter}}</a></td>
									<td><a href="/{{get_default_view(submission)}}.html?sid={{submission.sid}}">{{submission.file_count}}</a></td>
									<td ng-if="user.c12n_enforcing"><a href="/{{get_default_view(submission)}}.html?sid={{submission.sid}}"><label class="label classification {{submission.classification | class_label_color}}">{{submission.classification | class_sm }}</label></a></td>
									<td nowrap>
										<a href="/{{get_default_view(submission)}}.html?sid={{submission.sid}}">
                                            <span title="Completed without errors" ng-show="submission.state=='completed'&&submission.error_count==0" class="glyphicon glyphicon-ok text-success"></span>
                                            <span title="Completed with errors" ng-show="submission.state=='completed'&&submission.error_count>0" class="glyphicon glyphicon-remove text-danger"></span>
                                            <span title="Failed to scan" ng-show="submission.state=='failed'" class="glyphicon glyphicon-ban-circle text-danger"></span>
                                            <span title="Scanning..." ng-show="submission.state=='submitted'" class="text-muted glyphicon glyphicon-refresh"></span>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</section>
					<div ng-show="submission_list.total == 0">
						<div class="jumbotron text-center">
							<h3 class="text-muted">
								No submissions matching query:<br/>'{{query}}'
							</h3>
						</div>
					</div>
					<div ng-show="submission_list == null">
						<div class="bigpad jumbotron text-center">
							<h2 class="text-muted">Loading</h2>
							<div class="throbber">
								Loading
							</div>
						</div>
					</div>
					
				</div>
				<div class="tab-pane" style="margin-top: 20px" id="file">
					<div ng-show="file_list.total > 0">
						<div pager></div>
					</div>
					<section class="table-responsive" ng-show="file_list.total > 0">
						<table class="table table-hover table-striped table-clickthrough">
							<thead>
								<tr class="active">
									<th nowrap>Last Seen Time</th><th>Count</th><th>SHA256</th><th nowrap>File Type</th><th>Size</th><th ng-if="user.c12n_enforcing">Classification</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="file in file_list.items | orderBy:'seen_last':true">
									<td nowrap><a href="/file_detail.html?sha256={{file.sha256}}">{{file.seen.last | date:'yyyy-MM-dd HH:mm:ss'}}</a></td>
									<td><a href="/file_detail.html?sha256={{file.sha256}}">{{file.seen.count}}</a></td>
									<td width="100%"><a href="/file_detail.html?sha256={{file.sha256}}">{{file.sha256 | breakableStr}}</a></td>
									<td nowrap><a href="/file_detail.html?sha256={{file.sha256}}">{{file.type}}</a></td>
									<td><a href="/file_detail.html?sha256={{file.sha256}}">{{file.size}}</a></td>
									<td nowrap ng-if="user.c12n_enforcing"><a href="/file_detail.html?sha256={{file.sha256}}"><label class="label classification {{file.classification | class_label_color}}">{{file.classification | class_sm}}</label></a></td>
								</tr>
							</tbody>
						</table>
					</section>
					<div ng-show="file_list.total == 0">
						<div class="jumbotron text-center">
							<h3 class="text-muted">
								No files matching query:<br/>'{{query}}'
							</h3>
						</div>
					</div>
					<div ng-show="file_list == null">
						<div class="bigpad jumbotron text-center">
							<h2 class="text-muted">Loading</h2>
							<div class="throbber">
								Loading
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" style="margin-top: 20px" id="result">
					<div ng-show="result_list.total > 0">
						<div pager></div>
					</div>
					<section class="table-responsive" ng-show="result_list.total > 0">
						<table class="table table-hover table-striped table-clickthrough">
							<thead>
								<tr class="active">
									<th nowrap>Creation Date</th><th></th><th>SHA256</th><th>Service</th><th ng-if="user.c12n_enforcing">Classification</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="result in result_list.items | orderBy:'file_info.seen_last':true">
									<td nowrap><a href="/file_detail.html?sha256={{result.id | getHashFromKey}}">{{result.created | date:'yyyy-MM-dd HH:mm:ss'}}</a></td>
									<td><a href="/file_detail.html?sha256={{result.id | getHashFromKey}}"><span title="{{result.result.score | score_label}} (Score: {{ result.result.score }})" class="text-fixed label label-tag {{result.result.score | label_color}}"><strong>{{result.result.score | score_label | firstLetter }}</strong></span></a></td>
									<td width="100%"><a href="/file_detail.html?sha256={{result.id | getHashFromKey}}">{{result.id | getHashFromKey | breakableStr}}</a></td>
									<td><a href="/file_detail.html?sha256={{result.id | getHashFromKey}}">{{result.response.service_name}}</a></td>
									<td ng-if="user.c12n_enforcing"><a href="/file_detail.html?sha256={{result.id | getHashFromKey}}"><label class="label classification {{result.classification | class_label_color}}">{{result.classification | class_sm}}</label></a></td>
								</tr>
							</tbody>
						</table>
					</section>
					<div ng-show="result_list.total == 0">
						<div class="jumbotron text-center">
							<h3 class="text-muted">
								No results matching query:<br/>'{{query}}'
							</h3>
						</div>
					</div>
					<div ng-show="result_list == null">
						<div class="bigpad jumbotron text-center">
							<h2 class="text-muted">Loading</h2>
							<div class="throbber">
								Loading
							</div>
						</div>
					</div>
				</div>
                {% endraw %}
                {% if not is_readonly %}
	            {%raw%}
				<div class="tab-pane" style="margin-top: 20px" id="signature">
					<div ng-show="signature_list.total > 0">
						<a href="/api/v4/signature/download/?query={{query}}" ng-show="export_btn" class="btn btn-default visible-xs" style="font-size: 10pt; margin-bottom: 15px; margin-right: 5px;"><span class="glyphicon glyphicon-download-alt">&nbsp;</span>Download signatures</a>
						<div pager></div>
					</div>
					<section class="table-responsive" ng-show="signature_list.total > 0">
						<table class="table table-hover table-striped table-clickthrough">
							<thead>
								<tr class="active">
									<th>Type</th><th>Source</th><th nowrap>ID</th><th>Name</th><th>Rev</th><th ng-if="user.c12n_enforcing">Classification</th><th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="s in signature_list.items">
									<td><a href="/signature_detail.html?sid={{s.id}}">{{s.type}}</a></td>
									<td><a href="/signature_detail.html?sid={{s.id}}">{{s.source}}</a></td>
									<td nowrap><a href="/signature_detail.html?sid={{s.id}}">{{s.signature_id}}</a></td>
									<td width="100%"><a href="/signature_detail.html?sid={{s.id}}">{{s.name | breakableStr}}</a></td>
									<td nowrap><a href="/signature_detail.html?sid={{s.id}}">{{s.revision}}</a></td>
									<td ng-if="user.c12n_enforcing"><a href="/signature_detail.html?sid={{s.id}}"><label class="label classification {{s.classification | class_label_color}}">{{s.classification | class_sm}}</label></a></td>
									<td>
										<a href="/signature_detail.html?sid={{s.id}}">
											<span ng-show="s.status=='DEPLOYED'" class="label classification label-success">{{s.status}}</span>
											<span ng-show="s.status=='NOISY'" class="label classification label-info">{{s.status}}</span>
											<span ng-show="s.status=='DISABLED'" class="label classification label-danger">{{s.status}}</span>
											<span ng-show="s.status=='TESTING'" class="label classification label-warning">{{s.status}}</span>
											<span ng-show="s.status=='STAGING'" class="label classification label-primary">{{s.status}}</span>
                                            <span ng-show="s.status=='INVALID'" class="label classification label-default">{{s.status}}</span>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</section>
					<div ng-show="signature_list.total == 0">
						<div class="jumbotron text-center">
							<h3 class="text-muted">
								No signatures matching query:<br/>'{{query}}'
							</h3>
						</div>
					</div>
					<div ng-show="signature_list == null">
						<div class="bigpad jumbotron text-center">
							<h2 class="text-muted">Loading</h2>
							<div class="throbber">
								Loading
							</div>
						</div>
					</div>
				</div>
                {% endraw %}
                {% endif %}
	            {%raw%}
				<div class="tab-pane" style="margin-top: 20px" id="alert">
					<div ng-show="alert_list.total > 0">
						<div pager></div>
					</div>
					<section class="table-responsive" ng-show="alert_list.total > 0">
						<table class="table table-hover table-striped table-clickthrough">
							<thead>
								<tr class="active">
									<th nowrap>Alert Time</th><th>Verdict</th><th>SHA256</th><th>Status</th><th>Type</th><th ng-if="user.c12n_enforcing" nowrap>Classification</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="alert in alert_list.items | orderBy:'reporting_ts':true">
									<td nowrap><a href="/alert_detail.html?alert_key={{alert.id}}">{{alert.reporting_ts | date:'yyyy-MM-dd HH:mm:ss'}}</a></td>
									<td><a href="/alert_detail.html?alert_key={{alert.id}}"><span title="Score: {{ alert.al.score }}" class="label classification {{alert.al.score | verdict_color}}">{{alert.al.score | verdict}}</span></a></td>
						            <td width="100%"><a href="/alert_detail.html?alert_key={{alert.id}}">{{alert.file.sha256 | breakableStr}}</a></td>
									<td nowrap><a href="/alert_detail.html?alert_key={{alert.id}}">{{alert.status}}</a></td>
									<td nowrap><a href="/alert_detail.html?alert_key={{alert.id}}">{{alert.type}}</a></td>
									<td ng-if="user.c12n_enforcing"><a href="/alert_detail.html?alert_key={{alert.id}}"><label class="label classification {{alert.classification | class_label_color}}">{{alert.classification | class_sm}}</label></a></td>
								</tr>
							</tbody>
						</table>
					</section>
					<div ng-show="alert_list.total == 0">
						<div class="jumbotron text-center">
							<h3 class="text-muted">
								No alerts matching query:<br/>'{{query}}'
							</h3>
						</div>
					</div>
					<div ng-show="alert_list == null">
						<div class="bigpad jumbotron text-center">
							<h2 class="text-muted">Loading</h2>
							<div class="throbber">
								Loading
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{%endraw%}
{% endblock %}				
{% block loading_jumbo %}ng-hide="file_list.items != null || submission_list.items != null || result_list.items != null || alert_list.items != null || signature_list.items != null || query == null || query === "" || invalid_query != null"{% endblock %}
