{% extends base_template %}
{% block html_param %}ng-app="app"{% endblock %}
{% block title_page %}AL - {{user.uname}} settings{% endblock %}
{% block js_import %}
	<script src="/static/js/settings.js"></script>
{% endblock %}
{% block ng_init %}ng-controller="ALController" ng-init="user={{user_js}};debug={{debug}};forced={{forced}};start();"{% endblock %}
{% block content %}
	{%raw%}
	<section id="appContent" class="container">
		<div class="header_title text-right">
			<h1>User's Settings</h1>
			<h5 class="text-muted">{{user.name}}</h5>
		</div>
		<section id="section_scan_params" ng-show="params" class="header_title">
			<div class="menuheader" data-toggle="collapse" data-target="#scan_param">
				<span class="text-big">Submissions Options</span>
			</div>
			<div id="scan_param" class="collapse in">
            {% endraw %}
            {% if not is_readonly %}
            {% raw %}
				<div class="checkbox">
					<label ng-class="{checked:params.ignore_dynamic_recursion_prevention}">
						<input type="checkbox" ng-model="params.ignore_dynamic_recursion_prevention"> Ignore dynamic recursion prevention<span class="text-muted"> :: Stop preventing dynamic services to recursively perform dynamic analysis on files</span>
					</label>
				</div>
				<div class="checkbox">
					<label ng-class="{checked:params.ignore_filtering}">
						<input type="checkbox" ng-model="params.ignore_filtering"> Ignore filtering services<span class="text-muted"> :: Scan files even if filtering services marks them as known good</span>
					</label>
				</div>
				<div class="checkbox">
					<label ng-class="{checked:params.ignore_cache}">
						<input type="checkbox" ng-model="params.ignore_cache"> Ignore result cache<span class="text-muted"> :: Force rescan of the file even if the cache already have the result</span>
					</label>
				</div>
				<div class="checkbox">
					<label ng-class="{checked:params.deep_scan}">
						<input type="checkbox" ng-model="params.deep_scan"> Perform deep analysis<span class="text-muted"> :: Perform a deeper analysis on the submitted files (slower)</span>
					</label>
				</div>
				<div class="checkbox">
					<label ng-class="{checked:params.profile}">
						<input type="checkbox" ng-model="params.profile"> Profile scans<span class="text-muted"> :: Signal the system to do profiling on your scans</span>
					</label>
				</div>
				<div class="form-group">
					<label>Time to live for my scans in days - 0: As long as possible</label>
					<input type="number" class="form-control" min="0" ng-model="params.ttl">
				</div>
            	<div ng-if="user.c12n_enforcing" class="form-group">
                    <label>Default submission classification</label>
                    <div ng-controller="classificationCtrl" classification-picker></div>
                    <div class="label text-large classification {{params.classification | class_label_color}}" data-toggle="modal" href="#classification_picker" ng-click="setClassification(params.classification)">{{params.classification | class_long}}</div>
                </div>
            {% endraw %}
            {% endif %}
			</div>
		</section>
		<section id="section_ui_params" ng-show="params" class="header_title">
			<div class="menuheader" data-toggle="collapse" data-target="#ui_params">
				<span class="text-big">User Interface Options</span>
			</div>

			<div id="ui_params" class="collapse in">
            {% raw %}
				<div class="form-group">
					<label for="sub_view">Default view for completed submissions</label>
					<select id="sub_view" class="form-control" ng-model="params.submission_view">
						<option value="details">Detailed view</option>
						<option value="report">Report view</option>
					</select>
				</div>
                <div class="form-group">
					<label for="dl_enc">Encoding for all downloaded files</label>
					<select id="dl_enc" class="form-control" ng-model="params.download_encoding">
						<option value="raw">No encoding</option>
						<option value="cart">CaRT (Assemblyline's malware neutering format)</option>
						{% endraw %}{% block encodings%}{% endblock%}{% raw %}
					</select>
				</div>
				<div class="form-group">
					<label>Minimum verdict that a service needs to auto-expand its section</label>
					<select id="auto_expend" class="form-control" ng-model="params.expand_min_score">
						<option class="text-success" value="-1000000">Safe :: Any score without restrictions</option>
						<option class="text-muted" value="0">Non-Malicious :: Score bigger then 0</option>
						<option class="text-info" value="100">Suspicious :: Score bigger then 100</option>
						<option class="text-warning2" value="500">Highly Suspicious :: Score bigger then 500</option>
						<option class="text-danger" value="2000">Malicious :: Score bigger then 2000</option>
						<option value="100000000">Never auto-expand service sections</option>
					</select>
				</div>
			{% endraw %}
            </div>
		</section>
        {% if not is_readonly %}
        {% raw %}
		<section id="section_service_selection" ng-show="params" class="header_title">
			<div class="menuheader" data-toggle="collapse" data-target="#services">
				<span class="text-big">Services Selection</span>
				<div class="btn-group" style="padding-left: 10px;">
					<button class="btn btn-default btn-xs" ng-click="serviceSelectionNone($event)">None</button>
					<button class="btn btn-default btn-xs" ng-click="serviceSelectionReset($event)">Reset</button>
					<button class="btn btn-default btn-xs" ng-click="serviceSelectionAll($event)">All</button>
				</div>
			</div>
			<div id="services" class="collapse in">
				<div ng-repeat="service_group in params.services | orderBy:'name'">
					<div class="checkbox">
						<label ng-class="{checked:service_group.selected}">
							<input type="checkbox" ng-model="service_group.selected" ng-change="toggleCBGroup(service_group.name, service_group.selected);"> {{service_group.name}}
						</label>
					</div>
					<div ng-repeat="service in service_group.services | orderBy:'name'">
						<div class="checkbox indent">
							<label ng-class="{checked:service.selected}">
								<input type="checkbox" ng-model="service.selected" ng-change="toggleCBService(service.category, service.name, service.selected);"> {{service.name}}
							</label>
						</div>
					</div>
				</div>
			</div>
		</section>
        {% endraw %}
        {% endif %}
        {% raw %}
		<div class="bigpad text-center" ng-show="params">
			<span class="btn btn-primary bigbutton" ng-click="saveParams();">Save settings</span>
		</div>
	</section>
	{%endraw%}
{% endblock %}				
{% block loading_jumbo %}ng-hide="params"{% endblock %}
