{% extends base_template %}

{% block html_param %}ng-app="app"{% endblock %}
{% block title_page %}AL - Signature Statistics{% endblock %}
{% block js_import %}
	<script src="/static/js/signature_statistics.js"></script>
{% endblock %}
{% block loading_menu %}ng-hide="!loading_extra"{% endblock %}
{% block content %}
	{%raw%}
	<section id="appContent" class="container">
		<div class="header_title text-right">
			<h1>Signature Statistics</h1>
			<h5 class="text-muted">{{total}}<span ng-show="total==10000">+</span> signature<span ng-show="total > 1 || total < 1">s have</span><span ng-show="total == 1"> has</span> statistics<span ng-show="filtered"> (filtered)</span></h5>
            <h5 class="text-muted"><span ng-hide="timestamp == null"> Last update: {{timestamp}}</span></h5>
		</div>
		<div>
			<div ng-controller="pagerCtrl" ng-init="stop_loading=true" pager></div>
		</div>
		<section class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr class="active" style="cursor: pointer;">
						<th class="hover" ng-click="sort_stats('type')">Type
                            <span ng-show="sort.column=='type' && sort.order" class="glyphicon glyphicon-sort-by-alphabet"></span>
                            <span ng-show="sort.column=='type' && !sort.order" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                        </th>
                        <th class="hover" ng-click="sort_stats('source')">Source
                            <span ng-show="sort.column=='source' && sort.order" class="glyphicon glyphicon-sort-by-alphabet"></span>
                            <span ng-show="sort.column=='source' && !sort.order" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                        </th>
                        <th class="hover" ng-click="sort_stats('name')">Name
                            <span ng-show="sort.column=='name' && sort.order" class="glyphicon glyphicon-sort-by-alphabet"></span>
                            <span ng-show="sort.column=='name' && !sort.order" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                        </th>
                        <th ng-click="sort_stats('count')">Count
                            <span ng-show="sort.column=='count' && sort.order" class="glyphicon glyphicon-sort-by-attributes"></span>
                            <span ng-show="sort.column=='count' && !sort.order" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        </th>
                        <th ng-click="sort_stats('min')">Min Score
                            <span ng-show="sort.column=='min' && sort.order" class="glyphicon glyphicon-sort-by-attributes"></span>
                            <span ng-show="sort.column=='min' && !sort.order" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        </th>
                        <th ng-click="sort_stats('avg')">Average Score
                            <span ng-show="sort.column=='avg' && sort.order" class="glyphicon glyphicon-sort-by-attributes"></span>
                            <span ng-show="sort.column=='avg' && !sort.order" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        </th>
                        <th ng-click="sort_stats('max')">Max Score
                            <span ng-show="sort.column=='max' && sort.order" class="glyphicon glyphicon-sort-by-attributes"></span>
                            <span ng-show="sort.column=='max' && !sort.order" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        </th>
                        <th ng-if="user.c12n_enforcing" ng-click="sort_stats('classification')">
                            Classification
                            <span ng-show="sort.column=='classification' && sort.order" class="glyphicon glyphicon-sort-by-alphabet"></span>
                            <span ng-show="sort.column=='classification' && !sort.order" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                        </th>
					</tr>
				</thead>
				<tbody>
					<tr ng-click="viewSignature(s.id)" ng-repeat="s in stats_output" style="cursor: pointer;">
						<td>{{s.type}}</td>
						<td>{{s.source}}</td>
						<td>{{s.name | maxLength:50 | breakableStr}}</td>
						<td>{{s.count}}</td>
						<td>{{s.min}}</td>
                        <td>{{s.avg}}</td>
                        <td>{{s.max}}</td>
                        <td ng-if="user.c12n_enforcing">
                            <label class="label classification  {{s.classification | class_label_color}}">
                                {{s.classification | class_sm}}
                            </label>
                        </td>
					</tr>
				</tbody>
			</table>
		</section>
        <div ng-show="stats_output.length == 0 && searchText == ''" >
			<div class="jumbotron text-center">
				<h2 class="text-muted">
					Signature statistics have not been computed yet...
				</h2>
			</div>
		</div>
		<div ng-show="total == 0 && searchText != ''" >
			<div class="jumbotron text-center">
				<h2 class="text-muted">
					There are no matching signatures found.
				</h2>
			</div>
		</div>


		<!-- HIDE FOLLOWING: Should go inside a modal form -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-resize">
				<div class="modal-content">
					<div class="modal-header">
						<section class="row">
							<div class="col-md-9">
								<div class="text-larger modal_title" id="myModalLabel">Signature details</div>
								<div class="text-muted breakable">{{current_signature.type}}_{{current_signature.source}}_{{current_signature.signature_id}}</div>
							</div>
                            <div ng-if="user.c12n_enforcing" class="col-md-3">
                                <label class="control-label">
                                    Classification
                                </label>
                                <label class="label classification  {{current_signature.classification | class_label_color}}">
                                    {{current_signature.classification | class_sm}}
                                </label>
                            </div>
						</section>
					</div>
									
					<div class="modal-body">
						<pre style="white-space: pre-wrap" class="hidden-xs description">{{current_signature.data}}</pre>
						<pre class="hidden-sm hidden-md hidden-lg">{{current_signature.data}}</pre>
					</div>
					<div class="modal-footer">
						<a class="btn btn-default" href="search.html?search_scope=result&query=result.sections.tags.file.rule.{{current_signature.type}}:%22{{current_signature.source}}.{{current_signature.name}}%22">Usage&nbsp;&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- END HIDE -->
	</section>
	{%endraw%}
{% endblock %}				
{% block loading_jumbo %}ng-hide="stats_output != null"{% endblock %}
