{% extends base_template %}
{% block html_param %}ng-app="app"{% endblock %}
{% block title_page %}AL - Signature detail [{{sid}}]{% endblock %}
{% block js_import %}
	<script src="/static/js/signature_detail.js"></script>
{% endblock %}
{% block ng_init %}ng-controller="ALController" ng-init="user={{user_js}};debug={{debug}};sid='{{sid}}';organisation='{{organisation}}';settings={{settings}};start();"{% endblock %}
{% block loading_menu %}ng-hide="!loading_extra"{% endblock %}
{% block content %}
	{%raw%}
	<section id="appContent" class="container" ng-show="current_signature">
		<div class="header_title text-right">
			<h1>Signature Detail</h1>
			<h5 class="text-muted">{{current_signature.type}}_{{current_signature.source}}_{{current_signature.signature_id}}</h5>
		</div>
		<div>
		    <div signature-detail></div>
        	<div ng-controller="classificationCtrl" classification-picker></div>
			<a class="btn btn-default" href="search.html?search_scope=result&query=result.sections.tags.file.rule.{{current_signature.type}}:%22{{current_signature.source}}.{{current_signature.name}}%22">Usage&nbsp;&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
		</div>
	</section>
	{%endraw%}
{% endblock %}				
{% block loading_jumbo %}ng-hide="current_signature"{% endblock %}
