{% extends base_template %}
{% block html_param %}ng-app="app"{% endblock %}
{% block title_page %}AL - Signature management{% endblock %}
{% block js_import %}
	<script src="/static/js/signatures.js"></script>
{% endblock %}
{% block loading_menu %}ng-hide="!loading_extra"{% endblock %}
{% block ng_init %}ng-controller="ALController" ng-init="user={{user_js}};debug={{debug}};organisation='{{org}}';start();"{% endblock %}
{% block content %}
	{%raw%}
	<section id="appContent" class="container">
		<div class="header_title text-right">
			<h1>Signature Management</h1>
			<div><h5 ng-hide="signature_list == null || (total == 0 && !filtered)" class="text-muted">{{total}}<span ng-show="total==10000">+</span> signature<span ng-show="total > 1">s</span><span ng-show="filtered"> (filtered)</span></h5></div>
			<div ng-hide="signature_list == null || (total == 0 && !filtered)">
				<a ng-disabled="total == 0" href="/api/v4/signature/download/?query={{filter}}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-download-alt">&nbsp;</span>Download <span ng-show="filtered">Filtered </span>Signatures</a>
			</div>
		</div>
		<div ng-hide="signature_list == null || (!filtered && signature_list.length == 0)">
			<div ng-controller="pagerCtrl" ng-init="stop_loading=false;pager_page='signature'" pager></div>
		</div>
		<section class="table-responsive" ng-hide="signature_list == null || (!filtered && signature_list.length == 0)">
			<table class="table table-hover">
				<thead>
					<tr class="active">
						<th>Type</th><th>Source</th><th nowrap>ID</th><th>Name</th><th>Rev</th><th ng-if="user.c12n_enforcing">Classification</th><th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-click="editSignature(s.id)" ng-repeat="s in signature_list" style="cursor: pointer;">
						<td nowrap>{{s.type}}</td>
						<td nowrap>{{s.source}}</td>
						<td>{{s.signature_id | breakableStr}}</td>
						<td>{{s.name | breakableStr}}</td>
						<td nowrap>{{s.revision}}</td>
						<td nowrap ng-if="user.c12n_enforcing"><label class="label classification {{s.classification | class_label_color}}">{{s.classification | class_sm}}</label></td>
						<td nowrap>
							<span ng-show="s.status=='DEPLOYED'" class="label classification label-success">{{s.status}}</span>
							<span ng-show="s.status=='NOISY'" class="label classification label-info">{{s.status}}</span>
							<span ng-show="s.status=='DISABLED'" class="label classification label-danger">{{s.status}}</span>
							<span ng-show="s.status=='TESTING'" class="label classification label-warning">{{s.status}}</span>
							<span ng-show="s.status=='STAGING'" class="label classification label-primary">{{s.status}}</span>
                            <span ng-show="s.status=='INVALID'" class="label classification label-default">{{s.status}}</span>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
		
		<div ng-show="signature_list != null && signature_list.length == 0 && searchText == '' && !loading_extra">
			<div class="jumbotron text-center">
				<h2 class="text-muted">
					There are currently no signatures in the system.
				</h2>
			</div>
		</div>
		
		<div ng-controller="classificationCtrl" classification-picker></div>
				
		<!-- HIDE FOLLOWING: Should go inside a modal form -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-resize">
				<div class="modal-content">
					<div class="modal-header">
						<div class="pull-right text-large">
							<button ng_if="user.type.indexOf('admin')!=-1||user.type.indexOf('signature_manager')==-1" style="margin-left: 10px" type="button" class="btn btn-danger" ng-click="del();">Remove</button>
						</div>
						<div class="text-larger modal_title" id="myModalLabel">Signature details</div>
						<div class="text-muted breakable">{{current_signature.type}}_{{current_signature.source}}_{{current_signature.signature_id}}</div>
					</div>
					<div class="modal-body">
						<div signature-detail></div>
					</div>
					<div class="modal-footer">
						<a class="btn btn-default" href="search.html?search_scope=result&query=result.sections.tags.file.rule.{{current_signature.type}}:%22{{current_signature.source}}.{{current_signature.name}}%22">Usage&nbsp;&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- END HIDE -->
	</section>
	{%endraw%}
{% endblock %}				
{% block loading_jumbo %}ng-hide="signature_list != null"{% endblock %}
