{% extends base_template %}
{% block html_param %}ng-app="app"{% endblock %}
{% block title_page %}AL - Submission detail [{{sid}}]{% endblock %}
{% block css_import %}<link rel="stylesheet" href="/static/css/jsoneditor.css"/>{% endblock %}
{% block js_import %}
    <script src="/static/js/d3/d3.v3.js"></script>
	<script src="/static/js/socket.io/socket.io.slim.js"></script>
	<script src="/static/js/socket.io/ng-socket.js"></script>
    <script src="/static/js/submission_detail.js"></script>

    <script src="/static/js/ace/ace.js"></script>
    <script src="/static/js/jsoneditor/jsoneditor.js"></script>
    <script src="/static/js/ng-jsoneditor.min.js"></script>
{% endblock %}
{% block ng_init %}ng-controller="ALController" ng-init="user={{user_js}};debug={{debug}};sid='{{sid}}';new={{new}};settings={{settings}};start();"{% endblock %}
{% block loading_menu %}ng-hide="!loading_extra"{% endblock %}
{% block content %}
	{%raw%}
	<div id="slider" class="menuslide" ng-class={menushow:showslider}>
		<a class="slider_close btn btn-default" ng-click="hide_slider();">x</a>
		<section id="appContent" class="container">
			<label ng-if="user.c12n_enforcing" ng-show="current_file" style="margin-top: 8px;" class="label classification {{current_file.file_info.classification | class_label_color}}">{{current_file.file_info.classification | class_long}}</label>
			<div id="fd-view" file-detail ng-model="current_file"></div>
		</section>
	
		<div ng-show="!current_file">
			<div class="bigpad container">
				<div class="bigpad jumbotron text-center">
					<h2 class="text-muted">Loading</h2>
					<div class="throbber">
						Loading 
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="outstanding" ng-show="outstanding" class="fade-animate hidden-xs">
		<div class="popup-info alert alert-warning" ng-click="outstanding=null;">
			<div style="padding-bottom: 20px"><strong>You are waiting for the following service(s) to finish:</strong></div>
			
			<div class="row">
				<div class="col-sm-7"><strong>Service</strong></div>
				<div class="col-sm-5"><strong># files</strong></div>
			</div>
			<div ng-repeat="(srv, count) in outstanding" class="row">
				<div class="col-sm-7"><strong>{{srv}}</strong></div>
				<div class="col-sm-5">{{count}}</div>
			</div>
		</div>
	</div>
	
	<div id="underlay">
		<section id="appContent" class="container">
			<label ng-if="user.c12n_enforcing" style="margin-top: 8px;" class="label classification {{max_classification | class_label_color}}">{{max_classification | class_long}}</label>
			<div class="row">
				<div style="margin-top: 20px" class="col-sm-4">
					<div ng-show="started && !data.times.completed"><div class="throbber"></div></div>
					<div title="Malicious: {{data.verdict.malicious.length}} / Non-Malicious: {{data.verdict.non_malicious.length}}" class="hidden-xs" ng-show="data.times.completed">
						<div class="pad"><span style="width: 170px; display: block;" class="text-large label {{data.max_score | verdict_color}}">{{data.max_score | verdict}}</span></div>
						<div ng-if="data.verdict">
							<svg height="15" width="170">
								<rect height="15" width="170" style="fill: transparent;stroke: lightgrey"></rect>
								<rect ng-attr-x="{{85 - (data.verdict.malicious.length * 5)}}" ng-attr-width="{{(data.verdict.malicious.length * 5)}}" y="1" height="13" fill="#d9534f"></rect>
								<rect x="85" ng-attr-width="{{(data.verdict.non_malicious.length * 5)}}" y="1" height="13" fill="#5cb85c"></rect>
								<rect x="85" y="0" height="15" width="1" fill="lightgrey"></rect>
							</svg>
						</div>
						<div style="width: 170px" class="text-center">
							<span title="Malicious" class="icon-emojidevil text-larger" ng-class="{'bad-icon': data.verdict.malicious.indexOf(user.uname)!=-1, 'undecided-icon': data.verdict.malicious.indexOf(user.uname)==-1}" ng-click="send_malicious_verdict(data.sid)"></span>
							<span style="padding: 0 10px;" class="verdict-label">User's<br/>verdicts</span>
							<span title="Safe" class="icon-happy text-larger" ng-class="{'good-icon': data.verdict.non_malicious.indexOf(user.uname)!=-1, 'undecided-icon': data.verdict.non_malicious.indexOf(user.uname)==-1}"  ng-click="send_non_malicious_verdict(data.sid)"></span>
						</div>
					</div>
				</div>
				<div class="col-sm-8 header_title text-right">
					<h1>Submission Details</h1>
					<h5 class="text-muted" ng-hide="!sid">{{sid}}</h5>
					<p ng-show="started" ng-if="!user.read_only">
						<a ng-click="resubmit_submission();" class="btn btn-default btn-sm" title="Resubmit current submission"><span class="glyphicon glyphicon-repeat"><span class="hidden-sm hidden-xs">&nbsp;</span></span><span class="hidden-sm hidden-xs">Resubmit</span></a>&nbsp;
						<a ng-show="data.state==='completed'" href="report.html?sid={{sid}}" class="btn btn-primary btn-sm" title="Show report"><span class="glyphicon glyphicon-book"><span class="hidden-sm hidden-xs">&nbsp;</span></span><span class="hidden-sm hidden-xs">Show report</span></a>&nbsp;
						<a ng-click="delete_submission();" class="btn btn-danger btn-sm" title="Delete Submission"><span class="glyphicon glyphicon-remove"><span class="hidden-sm hidden-xs">&nbsp;</span></span><span class="hidden-sm hidden-xs">Delete Submission</span></a>
					</p>
					<div title="Malicious: {{data.verdict.malicious.length}} / Non-Malicious: {{data.verdict.non_malicious.length}}" class="hidden-sm hidden-md hidden-lg" ng-show="data.times.completed">
						<div class="pad" style="display: inline-table;"><span style="width: 170px; display: block;" class="text-large label {{data.max_score | verdict_color}}">{{data.max_score | verdict}}</span></div>
						<div ng-if="data.verdict">
							<svg height="15" width="170">
								<rect height="15" width="170" style="fill: transparent;stroke: lightgrey"></rect>
								<rect ng-attr-x="{{85 - (data.verdict.malicious.length * 5)}}" ng-attr-width="{{(data.verdict.malicious.length * 5)}}" y="1" height="13" fill="#d9534f"></rect>
								<rect x="85" ng-attr-width="{{(data.verdict.non_malicious.length * 5)}}" y="1" height="13" fill="#5cb85c"></rect>
								<rect x="85" y="0" height="15" width="1" fill="lightgrey"></rect>
							</svg>
						</div>
						<div style="padding-right: 35px">
							<span title="Malicious" class="icon-emojidevil text-larger" ng-class="{'bad-icon': data.verdict.malicious.indexOf(user.uname)!=-1, 'undecided-icon': data.verdict.malicious.indexOf(user.uname)==-1}" ng-click="send_malicious_verdict(data.sid)"></span>
							<span style="padding: 0 10px;" class="verdict-label">User's<br/>verdicts</span>
							<span title="Safe" class="icon-happy text-larger" ng-class="{'good-icon': data.verdict.non_malicious.indexOf(user.uname)!=-1, 'undecided-icon': data.verdict.non_malicious.indexOf(user.uname)==-1}"  ng-click="send_non_malicious_verdict(data.sid)"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="jumbotron" ng-show="new&&!started">
				<div class="pad">
					<strong class="text-big">Your file was successfully submitted.</strong>
					<div class="throbber pull-right"></div>
					<p><i>Waiting for the system to start processing it...</i></p>
				</div>
			</div>

			<div ng-show="started">
                <section class="header_title" id="section_submission" ng-show="data">
					<div class="menuheader " data-toggle="collapse" data-target="#submission">
						<span class="text-big">Submission Information</span>
					</div>
					<div id="submission" class="collapse in">
						<div class="row">
							<div class="col-xs-5 col-sm-3 col-md-2"><strong>Description</strong></div>
							<div class="col-xs-7 col-sm-9 col-md-10">
								{{data.params.description}}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-5 col-sm-3 col-md-2"><strong>Groups</strong></div>
							<div class="col-xs-7 col-sm-9 col-md-10">
								{{data.params.groups | joinBy:' | '}}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-5 col-sm-3 col-md-2"><strong>Selected&nbsp;Services</strong></div>
							<div class="col-xs-7 col-sm-9 col-md-10">
								{{data.params.services.selected | joinBy:' | '}}
							</div>
						</div>
						<div class="row" ng-show="data.params.eligible_parents">
							<div class="col-xs-5 col-sm-3 col-md-2"><strong>Eligible&nbsp;Parents</strong></div>
							<div class="col-xs-7 col-sm-9 col-md-10">
								{{data.params.eligible_parents | joinBy:' | '}}
							</div>
						</div>
						<div class="row" ng-if="obj_len(data.params.service_spec) != 0">
							<div class="col-xs-5 col-sm-3 col-md-2"><strong>Specific&nbsp;Parameters</strong></div>
							<div class="col-xs-7 col-sm-9 col-md-10">
                                <div ng-repeat="(service,extra) in data.params.service_spec">
                                    <div><i>{{service}}</i>:</div>
                                    <div class="indent" ng-repeat="(var,val) in extra">{{var | titleCase}} => {{val}}</div>
                                </div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-5 col-sm-3 col-md-2"><strong>Deep&nbsp;Scan</strong></div>
							<div class="col-xs-7 col-sm-9 col-md-10">
								<span ng-if="data.params.deep_scan" class="icon-check"></span>
								<b><span ng-if="!data.params.deep_scan" class="icon-roundrectangle"></span></b>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-5 col-sm-3 col-md-2"><strong>Ignore&nbsp;Cache</strong></div>
							<div class="col-xs-7 col-sm-9 col-md-10">
								<span ng-if="data.params.ignore_cache" class="icon-check"></span>
								<b><span ng-if="!data.params.ignore_cache" class="icon-roundrectangle"></span></b>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-5 col-sm-3 col-md-2"><strong>Ignore&nbsp;Dynamic Recursion Prevention</strong></div>
							<div class="col-xs-7 col-sm-9 col-md-10">
								<span ng-if="data.params.ignore_dynamic_recursion_prevention" class="icon-check"></span>
								<b><span ng-if="!data.params.ignore_dynamic_recursion_prevention" class="icon-roundrectangle"></span></b>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-5 col-sm-3 col-md-2"><strong>Ignore&nbsp;Filtering</strong></div>
							<div class="col-xs-7 col-sm-9 col-md-10">
								<span ng-if="data.params.ignore_filtering" class="icon-check"></span>
								<b><span ng-if="!data.params.ignore_filtering" class="icon-roundrectangle"></span></b>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-5 col-sm-3 col-md-2"><strong>Submitted&nbsp;By</strong></div>
							<div class="col-xs-7 col-sm-9 col-md-10">
								{{data.params.submitter}}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-5 col-sm-3 col-md-2"><strong>Priority</strong></div>
							<div class="col-xs-7 col-sm-9 col-md-10">
								{{data.params.priority}}
							</div>
						</div>
						<div ng-show="data.params.ttl!=0" class="row">
							<div class="col-xs-5 col-sm-3 col-md-2"><strong>Time&nbsp;To&nbsp;Live</strong></div>
							<div class="col-xs-7 col-sm-9 col-md-10">
								{{data.params.ttl}} days
							</div>
						</div>
						<div class="row">
							<div class="col-xs-5 col-sm-3 col-md-2"><strong>Verdict</strong></div>
							<div class="col-xs-7 col-sm-9 col-md-10 ">
                                <span style="cursor: default" title="Maximum score: {{ data.max_score }}" class="label {{data.max_score | verdict_color}}">{{data.max_score | verdict}}</span>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-5 col-sm-3 col-md-2"><strong>Start&nbsp;Time</strong></div>
							<div class="col-xs-7 col-sm-9 col-md-10">
								{{data.times.submitted | date:"yyyy-MM-dd HH:mm:ss"}}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-5 col-sm-3 col-md-2"><strong>Completed&nbsp;Time</strong></div>
							<div class="col-xs-7 col-sm-9 col-md-10">
								{{data.times.completed | date:"yyyy-MM-dd HH:mm:ss"}}
							</div>
						</div>
					</div>
				</section>

                <section class="report_section" id="warning_section" ng-show="filtered">
                    <h5><b>** Warning</b>: Some details about the submission has been filtered because you do not have enough privilege to view all the results.</h5>
                </section>

				<section class="report_section" id="warning_section" ng-show="partial">
                    <h5><b>** Warning</b>: Some information about this submission is missing from the system therefore you're only seeing partial results.</h5>
                </section>

				<section class="header_title" id="section_metadata" ng-hide="empty(data.metadata)">
					<div class="menuheader" data-toggle="collapse" data-target="#metadata">
						<span class="text-big">Metadata</span>
					</div>
					<div id="metadata" class="collapse in">
						
						<div class="row" ng-repeat="(key, val) in data.metadata | orderBy:key">
							<div class="col-xs-5 col-sm-3 col-md-2"><strong>{{key}}</strong></div>
							<div class="col-xs-7 col-sm-9 col-md-10" style="white-space: pre-wrap">{{val | stripNull | joinBy:' | ' | objectViewer | iso_to_utc:true}}</div>
						</div>
					</div>
				</section>

				<div ng-show="!summary" class="jumbotron">
					<div class="pad">
						<div  class="throbber pull-right"></div>
						Generating executive summary...
					</div>
				</div>

				<section ng-show="attack_matrix && (obj_len(attack_matrix) != 0)" class="header_title">
					<div class="menuheader" data-toggle="collapse" data-target="#attack_matrix">
						<span class="text-big">Att&ck Matrix</span>
						<span class="indent"><input type="button" class="btn btn-xs btn-default text-tiny" ng-click="clear_selection();$event.stopPropagation();" value="Clear selection"/></span>

					</div>

					<div id="attack_matrix" class="collapse in">
						<div class="row" ng-repeat="(category, attack_patterns) in attack_matrix | orderBy:category">
							<div class="col-xs-12 col-sm-4 col-md-3"><strong>{{category}}</strong></div>
							<div class="col-xs-12 col-sm-8 col-md-9">
								<span id="{{item[0]}}_{{item[1]}}" class="label label-tag label-heur-{{item[2]}}" style="cursor: pointer;" ng-repeat="item in attack_patterns | orderBy:item[1]" ng-class="{'label-highlight': isHighlighted('attack_pattern', item[0])}" ng-click="trigger_highlight('attack_pattern', item[0]);" >{{item[1] | breakableStr }}<a href='/search.html?search_scope=result&query=result.sections.heuristic.attack.pattern:"{{uri_encode(item[1])}}"' class="search_tag clickable_color glyphicon glyphicon-search" ng-click="$event.stopPropagation();"></a></span>
							</div>
						</div>
					</div>
				</section>

				<section ng-show="obj_len(heuristics) != 0 && (heuristics.info.length != 0 || heuristics.suspicious.length != 0 || heuristics.malicious.length != 0)" class="header_title">
					<div class="menuheader" data-toggle="collapse" data-target="#heuristics">
						<span class="text-big">Heuristics</span>
						<span class="indent"><input type="button" class="btn btn-xs btn-default text-tiny" ng-click="clear_selection();$event.stopPropagation();" value="Clear selection"/></span>

					</div>

					<div id="heuristics" class="collapse in">
						<div class="row" ng-repeat="(category, heuristics_list) in heuristics | orderBy:category">
							<div class="col-xs-12 col-sm-4 col-md-3"><strong>{{category}}</strong></div>
							<div class="col-xs-12 col-sm-8 col-md-9">
								<span id="{{item[0]}}_{{item[1]}}" class="label label-tag label-heur-{{category}}" style="cursor: pointer;" ng-repeat="item in heuristics_list | orderBy:item[1]" ng-class="{'label-highlight': isHighlighted('heuristic', item[0])}" ng-click="trigger_highlight('heuristic', item[0]);" >{{item[1] | breakableStr }}<a href='/search.html?search_scope=result&query=result.sections.heuristic.name:"{{uri_encode(item[1])}}"' class="search_tag clickable_color glyphicon glyphicon-search" ng-click="$event.stopPropagation();"></a></span>
							</div>
						</div>
					</div>
				</section>

				<section class="header_title" ng-show="obj_len(summary[summary_type]) != 0" ng-repeat="(summary_type, summary_values) in summary | orderBy:summary_type" data-toggle="collapse">
					<div class="menuheader" data-toggle="collapse" data-target="#{{summary_type}}">
						<span class="text-big">{{summary_type | titleCase }}s</span>
						<span class="indent"><input type="button" class="btn btn-xs btn-default text-tiny" ng-click="clear_selection();$event.stopPropagation();" value="Clear selection"/></span>
					</div>

					<div id="{{summary_type}}" class="collapse in">
						<div class="row" ng-repeat="(tag, values) in summary_values | orderBy:tag">
							<div class="col-xs-12 col-sm-4 col-md-3"><strong>{{tag}}</strong></div>
							<div class="col-xs-12 col-sm-8 col-md-9">
								<span id="{{tag}}_{{val}}" class="label label-tag label-heur-{{val[1]}}" style="cursor: pointer;" ng-repeat="val in values | orderBy:val[0]" ng-class="{'label-highlight': isHighlighted(tag, val[0])}" ng-click="trigger_highlight(tag, val[0]);" >{{val[0] | breakableStr }}<a href='/search.html?search_scope=result&query=result.sections.tags.{{tag}}:"{{uri_encode(val[0])}}"' class="search_tag clickable_color glyphicon glyphicon-search" ng-click="$event.stopPropagation();"></a></span>
							</div>
						</div>
					</div>

				</section>

				<section class="header_title" ng-show="data && data.errors && data.errors.length != 0">
					<div class="menuheader" data-toggle="collapse" data-target="#error_summary">
						<span class="text-big">Errors</span>
					</div>
					<div id="error_summary" class="collapse in">
						<div ng-repeat="(type, services) in data.parsed_errors.aggregated" class="text-danger">
							<span ng-if="services">The following services generated <strong>{{ type | titleCase }}</strong> errors: <strong>{{ services | split }}</strong></span>
						</div>
						<div ng-repeat="err in data.parsed_errors.listed" class="text-danger">
							<strong>{{err | getServiceFromKey }}</strong> generated an error for file hash: <strong><a class="text-danger" href="submission_detail.html?sid={{sid}}#/{{err | getHashFromKey }}/">{{err | getHashFromKey }}</a></strong><span class="small">&nbsp;::&nbsp;{{err | getErrorTypeFromKey}}</span>
						</div>
					</div>
				</section>
				
				
				<section class="header_title" id="section_files" ng-show="data">
					<div class="menuheader " data-toggle="collapse" data-target="#files">
						<span class="text-big">Files</span>
						<div ng-show="!file_tree" class="throbber pull-right"></div>
					</div>
					<div id="files" class="collapse in">
						
						<div ng-show="!file_tree" class="jumbotron">
							<div class="pad">
								Generating file tree...
							</div>
						</div>
						<div ng-include="'/static/ng-template/file_item.html'" ng-model="file_tree"></div>
						
						<div ng-show="file_tree && (obj_len(file_tree) == 0)" >
							<div class="pad text-muted">
								No files associated to this submission.
							</div>
						</div>
					</div>
				</section>
			</div>
		</section>
	</div>
	{%endraw%}
{% endblock %}				
{% block loading_jumbo %}ng-show="!new&&!started"{% endblock %}
