@media (min-width: 768px){
	html, body{
		background: #F7F7F7;
	}

}

html, body{
	height: 100%;
	color: #555;
	font-size: 10pt;
	word-wrap: break-word;
}

a:hover {
	text-decoration: none;
}

.breakable {
	word-break: break-all;
	word-wrap: break-word;
}

.row.make-columns {
	-webkit-column-width: 21em;
	   -moz-column-width: 21em;
	        column-width: 21em;
	-webkit-column-gap: 1em;
	   -moz-column-gap: 1em;
	        column-gap: 1em;
	-webkit-column-rule: 1px dotted #eee;
	   -moz-column-rule: 1px dotted #eee;
	        column-rule: 1px dotted #eee;
}

.row.make-columns > div {
	display: inline-block;
	height: 100%;
	width: 100%;
}

.col-item{
	padding-left: 15px;
	padding-right: 15px;
}

.print_banner {
	display: none;

}

.report_section {
	padding-bottom: 20px;
	page-break-inside: avoid;
}

.report_block {
	padding-top: 10px;
	padding-bottom: 10px;
	page-break-inside: avoid;
}

@media print {
	@page {
		margin: 1cm;
	}

	.label {
		border: 0;
	}

	div.div_footer{
		position: fixed;
		text-align: center;
		width: 100%;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #FFF !important;
	}

	.container {
		padding: 0;
	}

	.report_section {
		padding-bottom: 1cm;
	}

	.report_block {
		padding-top: 0;
		padding-bottom: 1cm;
	}

	#push, #footer {
		display: none;
	}

	.print_banner {
		display: block;
		padding-bottom: 1cm;
	}
}

@media screen {
	div.div_footer{
		display: none;
	}

	#wrap {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -48px;
		padding-bottom: 56px;
	}

	#push, #footer{
		height: 50px;
		margin-top: -50px;
	}

	#wrap > #main {
		padding-top: 75px;
	}
}

@media (min-width: 768px){
	section.container{
		background: #FFF;
		box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px 0px;
	}
}

section.container{
	padding-top: 5px;
	padding-bottom: 30px;
}

.raw_footer {
	padding: 0.5em;
}

.raw_footer:hover {
	background-color: #FCFCFC;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: pointer;
}

.no-margin{
	margin: 0px;
}

.fv-modal-open{
	overflow: hidden;
}

.classification-head{
	position: fixed;
	z-index: 100;
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	top: 0;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 4px 0px;
}

.classification{
	display: block;
	width: 100%;
	vertical-align: middle;
	margin-bottom: 0px;
	padding: .3em .6em .2em;
}

.header_title{
	padding-bottom: 15px;
	z-index: 1;
}

.header_title h5{
	padding-bottom: 20px;
}

.pager_search {
    margin-bottom: 10px;
}

.pager_add_button {
    float: left;
}

@media (min-width: 768px){
	.pager_count{
		padding-right: 0px;
	}

	.pager_pages{
        padding-left: 0px;
    }

    .pager_add_button {
        float: none;
    }

    .pager_search {
        margin-bottom: 0px;
    }
}

.pager_btn_sm {
	min-width: 36px;
	padding: 6px 10px 4px;
	min-height: 30px;
}

.centered_boxed_content{
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px){
	.centered_boxed_content{
		max-width: 700px;
	}
}

@media (min-width: 992px){
	.centered_boxed_content{
        max-width: 850px;
	}
}

@media (min-width: 1450px){
	.centered_boxed_content{
        max-width: 1100px;
	}
}


.input-sm-compact {
	height: 30px;
	padding: 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.input-xs {
	height: 24px;
	padding: 2px 6px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.anchor{
	padding-top: 70px;
	margin-top: -70px;
}

.anchor-offset{
	padding-top: 75px;
	margin-top: -50px;
}

.powered-by img{
    vertical-align: bottom;
}

.powered-by:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.powered-by {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.huge-icon {
	font-size: 700%;
}

.drop.drag-enter,
.drop:hover {
	border: 2px #AAA dashed;
	background-color: #F6F6F6;
	color: #AAA;
}

.drop {
	padding: 15px;
	border: 2px #f1f1f1 dashed;
	border-radius: 5px;
	color: #CCC;
}

.file-selected {
	padding: 15px;
	border: 2px #f1f1f1 dashed;
	border-radius: 5px;
	color: #999;
}

.build-no {
	color: #CCC;
	font-size: 80%;
	padding-right: 10px;
}

.pad {
	padding-top: 10px;
	padding-bottom: 10px;
}
.bigpad {
	padding-top: 20px;
	padding-bottom: 40px;
}

.bigbutton {
	padding: 16px 32px;
}

.signature_status {
	padding: 5px 20px;
	vertical-align: bottom;
}

.transfer-box {
	margin-bottom: 5px;
}

.transfer-box .progress {
	margin-bottom: 0;
}

.fade-animate{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.fade-animate.ng-hide-add {
	display: block !important;
	opacity: 1;
}

.fade-animate.ng-hide-remove{
	display: block !important;
	opacity: 0;
}

.fade-animate.ng-hide-remove-active{
	opacity: 1;
}

.fade-animate.ng-hide-add-active{
	opacity: 0;
}

.menuheader{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#appContent{
	min-width: 300px;
}
#appContent > .container {
	min-width: 300px;
}

#appMenu {
	position: fixed;
	top: 0;
	width: 0px;
	height: auto;
	min-height: 100%;
	background-color: #222;
	padding: 49px 0em 0.5em;
	color: #999;
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	overflow: none;
	z-index: 998;

	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

#appMenu.collapse.in,
#appMenu.collapsing {
	box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 10px 4px;
}

#appMenu .nav{
	width: 280px;
	float: left;
	overflow-y: auto;
	max-height: 90%;
	max-height: calc(100% - 65px);
}

#appMenu.navbar-dev{
	background-color: #2c5180;
}

#appMenu .navbar-nav{
	margin: 0px;
}

#appMenu .divider{
	display: block;
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #525252;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #151515;
    color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #121212;
}

#searchMenu {
	background: #f6f6f6;
	border-radius: 0px 0px 4px 4px;
	border-color: #CCC;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    margin-top: -1px;
}

#searchMenu .menudata {
	padding: 5px 10px;
}

#searchMenu .checked,
#appContent #searchMenu .checked {
	font-weight: 800;
}

#searchMenu .checked:hover,
#appContent #searchMenu .checked:hover {
	color: #333;
}

#appContent #searchMenu .menuheader {
	padding-bottom: 5px;
  	margin: 5px 0px 15px;
  	border-bottom: 1px solid #CCC;
  	cursor: pointer;
}

#appContent .menureport {
	padding-bottom: 5px;
  	margin: 5px 0px 15px;
  	border-bottom: 1px solid #EEE;
}

#appContent .menuheader {
	padding-bottom: 5px;
  	margin: 5px 0px 15px;
  	border-bottom: 1px solid #EEE;
  	cursor: pointer;
}

#searchMenu .menuheader:hover,
#appContent #searchMenu .menuheader:hover,
#appContent .menuheader:hover {
	color: #2d6ca2;
	border-bottom: 1px solid #A1B4D5;
}

#appContent .checked {
	color: #325DA8;
}

.float {
	position: absolute;
	right: 0;
	top: 0;
	width: 400px;
	height: auto;
	margin: 55px 0.25em 0.25em;
	z-index: 999;
}

.debug {
	position: fixed;
	right: 2.5em;
	bottom: 1.5em;
	width: auto;
	height: auto;
	margin: 0.5em 0.25em;
	z-index: 1999;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 9px 0px;
	opacity: 0.9;
}

.dev {
	position: fixed;
	right: 2.5em;
	top: 5.5em;
	width: auto;
	height: auto;
	margin: 0.5em 0.25em;
	z-index: 1999;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 9px 0px;
	padding: 5px 10px;
	opacity: 0.9;
	font-size: 12px;
	line-height: 1.5;
}

.text-tiny {
	font-size: 70%;
}

.text-smaller {
	font-size: 80%;
}

.text-icon {
	font-size: 12pt;
}

.text-icon-sm {
	font-size: 10pt;
	padding: 3px 6px;
}

.text-half {
	font-size: 50%;
}

.text-large{
	font-size: 130%;
}

.text-larger {
	font-size: 150%;
}

.text-big,
.text-largest {
	font-size: 170%;
}

.verdict-label {
	font-size: 75%;
    font-family: monospace;
    display: inline-block;
    text-align: center;
    padding: 0px 5px;
}

.good-icon {
	color: #5cb85c;
	vertical-align: top;
}

.bad-icon {
	color: #d9534f;
	vertical-align: top;
}

.undecided-icon:hover {
	color: #AAA;
	cursor: pointer;
}

.undecided-icon {
	color: #DDD;
	vertical-align: top;
}

.list-non-indented {
	padding-inline-start: 1.5em;
	margin-bottom: 0;
}

.list-group-item.disabled{
	color: #777;
	background-color: #EEE;
}

.list-group-item.disabled:hover{
	color: #777;
	background-color: #EEE;
}

.banner {
	width: 100%;
	min-width: 250px;
	text-align: center;
}

.banner_img {
    width: 75%;
}

@media (min-width: 992px){
    .banner_img {
        width: initial;
    }
}

.loading{
	margin-top: 5px;
	right: 20px;
	top: 0;
	width: 100px;
	height: auto;
	position: fixed;
	padding: 10px;
	z-index: 10000;
	text-align: center;
	vertical-align: middle;
}

.navbar-toggle-proper {
	float: left;
	border: 0px;
	margin-left: 5px;
}

.navbar-nav > li > .avatar {
	vertical-align: middle;
	padding-top: 5px;
	padding-bottom: 5px;
}

.img-avatar{
	height: 40px;
	width: 40px;
	display: inline-block;
	background: rgba(30,30,30,1);
	border-radius: 6px;
	object-fit: cover;
}

.file-btn{
	display: inline-block;
	position: relative;
	overflow: hidden;
	vertical-align: top;
}

.file-btn > input{
	position: absolute;
	top: 0px;
	right: 0px;
	font-family: Arial;
	font-size: 118px;
	margin: 0px;
	padding: 0px;
	opacity: 0;
	cursor: pointer;
}

.thumbnail-256{
	width: 200px;
	height: 200px;
	display: table-cell;
	vertical-align: middle;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.centering {
	float: none;
	margin: 0 auto;
	align: center;
}

.container-middle {
	height: 100%;
	display: table;
	width: 100%;
	padding: 0px;
}

.row-middle {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.usage {
	width: 92px;
	height: 16px;
	border: solid 1px #999;
	display: inline-flex;
}

.usage_wide {
	width: 192px;
	height: 16px;
	border: solid 1px #999;
	display: inline-flex;
}

.text-middle {
	height: 100%;
	display: inline-table;
	vertical-align: middle;
}

.label-danger {
	-webkit-print-color-adjust: exact;
	color: #FFF !important;
	background-color: #d9534f !important;
}

.label-warning {
	-webkit-print-color-adjust: exact;
	color: #FFF !important;
	background-color: #f0ad4e !important;
}

.label-info {
	-webkit-print-color-adjust: exact;
	color: #FFF !important;
	background-color: #5bc0de !important;
}

.label-primary {
	-webkit-print-color-adjust: exact;
	color: #FFF !important;
	background-color: #428bca !important;
}

.label-success {
	-webkit-print-color-adjust: exact;
	color: #FFF !important;
	background-color: #5cb85c !important;
}

.label-default {
	-webkit-print-color-adjust: exact;
	color: #FFF !important;
	background-color: #999 !important;
}

.label-tag {
	vertical-align: middle;
	margin: 1px 5px 1px 0px;
	line-height: normal;
	text-align: left;
	white-space: normal;
	display: inline-flex;
}

.label-nolight,
.label-heur-info{
	-webkit-print-color-adjust: exact;
    color: #FFF !important;
	background-color: #999 !important;
}

.label-nolight:hover,
.label-heur-info:hover{
	color: #FFF !important;
	background-color: #777 !important;
}

.label-heur-suspicious{
	-webkit-print-color-adjust: exact;
    color: #FFF !important;
    background-color: #f0ad4e !important;
}

.label-heur-suspicious:hover{
	color: #FFF !important;
    background-color: #b77a47 !important;
}

.label-heur-malicious{
	-webkit-print-color-adjust: exact;
    color: #FFF !important;
    background-color: #d37a7a !important;
}

.label-heur-malicious:hover{
	color: #FFF !important;
    background-color: #ae4e4e !important;
}

.label-heur-safe{
	-webkit-print-color-adjust: exact;
    color: #FFF !important;
    background-color: #5cb85c !important;
}

.label-heur-safe:hover{
	color: #FFF !important;
    background-color: #54a054 !important;
}

.label-highlight{
	background-color: #428bca !important;
}

.label-highlight:hover{
	background-color: #226baa !important;
}

.back-to-top{
	margin-top: 20px;
	display: block;
	font-size: 13px;
	font-weight: 500;
	color: #999;
	padding: 4px 20px;
}

.back-to-top:hover,
.back-to-top:focus{
	color: #2d6ca2;
	text-decoration: none;
	background-color: transparent; 
}

.bs-docs-sidebar .nav>.active>ul{
	display: block;
}

.bs-docs-sidebar .nav .nav{
	display: none;
	padding-bottom: 10px;
}

.bs-docs-sidebar .nav .nav>.active>a {
	padding-left: 28px;
	font-weight: 500;
}

.bs-docs-sidebar .nav .nav>li>a:hover{
	padding-left: 29px;
}

.bs-docs-sidebar .nav .nav>li>a{
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 30px;
	font-size: 12px;
	font-weight: 400;
}

.bs-docs-sidebar .nav .nav .nav>.active>a {
	padding-left: 38px;
	font-weight: 500;
}

.bs-docs-sidebar .nav .nav .nav>li>a:hover{
	padding-left: 39px;
}

.bs-docs-sidebar .nav .nav .nav>li>a{
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 40px;
	font-size: 11px;
	font-weight: 400;
}

.bs-docs-sidebar .nav>li>.text-danger{
	color: #a94442;	
}

.bs-docs-sidebar .nav>li>.text-danger:hover{
	padding-left:19px;
	color: #843534;
	border-left: solid 1px #843534; 
}
.bs-docs-sidebar .nav>.active>.text-danger{
	padding-left:18px;
	color: #843534;
	border-left: solid 2px #843534; 
}

.bs-docs-sidebar .nav>li>a{
	display: block;
	font-size: 13px;
	font-weight: 500;
	color: #999;
	padding: 4px 20px;
}

.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus{
	padding-left:19px;
	color: #2d6ca2;
	text-decoration: none;
	background-color: transparent;
	border-left: solid 1px #2d6ca2; 
}

.bs-docs-sidebar .nav>.active>a{
	padding-left:18px;
	color: #2d6ca2;
	font-weight: 800;
	text-decoration: none;
	background-color: transparent;
	border-left: solid 2px #2d6ca2; 
}

.bs-docs-sidebar.hidden-print.affix {
	top: 80px;
}

@media (min-width: 992px){
	.bs-docs-sidebar.hidden-print.affix {
		width: 132px;
	}
}

@media (min-width: 1450px){
	.bs-docs-sidebar.hidden-print.affix {
		width: 165px;
	}
}

.filter-item {
	border-radius: 2px;
	padding: 4px 10px 4px 25px;
}

.filter-item:hover {
	background: #EEE;
}

.filter-bar {
	margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}

.filter-bar.affix {
    position: relative;
}

@media (min-width: 768px){
	.filter-bar.affix {
	    position: fixed;

        -webkit-transition: box-shadow 0.8s ease;
        -moz-transition: box-shadow 0.8s ease;
        -ms-transition: box-shadow 0.8s ease;
        -o-transition: box-shadow 0.8s ease;
        transition: box-shadow 0.8s ease;

        top: 0px;
        margin-left: -15px;

		padding: 80px 15px 5px;

		background-color: white;
        z-index: 99;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 6px 0px;

		width: 750px;
	}
}

@media (min-width: 992px){
	.filter-bar.affix {
		width: 970px;
	}
}

@media (min-width: 1450px){
	.filter-bar.affix {
		width: 1350px;
	}
}

.bg-unselected:hover{
	background-color: rgba(66, 139, 202, 0.08); 	
}

.bg-selected {
	background-color: rgba(66, 139, 202, 0.16);
}

.bg-selected:hover {
	background-color: rgba(66, 139, 202, 0.24);
}

.search_tag{
	margin-left: 10px;
	color: #FFF;
}


.clickable_color:hover {
	cursor: pointer;
	color: #000;
}

.clickable:hover{
	cursor: pointer;
	color: rgb(66, 139, 202);
}

#slider {
	position: fixed;
	left: 100%;
	top: 0px;
	width: 100%;
	height: 100%;
	min-height: 100%;
	background: #FFF;
	padding: 75px 0.5em 0.5em;
	color: #333;
	overflow: auto;
	z-index: 99;

	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}


@media (min-width: 768px){
	#slider{
		background: #F8F8F8;
	}
}

#error_msg {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	min-height: 100%;
	background: rgba(0, 0, 0, 0.4);
	padding: 75px 0.5em 0.5em;
	color: #333;
	overflow: auto;
	z-index: 9999;
}

#slider.menushow {
	left: 0;
}

#slider.menushow .slider_close {
    display: block;
}

#slider .slider_close {
	position: fixed;
	float: left !important;
	z-index: 100;
}

.slider_close{
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #555;
	margin-left: 20px;
	display: none;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px 0px;
}

.pre-wrap{
	white-space: pre-wrap;
}

.basic_card{
	background: #F8F8F8;
	border: solid 1px #F2F2F2;
	border-radius: 2px;
	margin: 1em 0em;
	padding: 0.5em;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 6px 0px;
	min-height: 170px;
}

.basic_card.danger {
	background: #F8EEEE;
	border: solid 1px #F2DEDE;
}

.basic_card.success {
	background: #EEF8EE;
	border: solid 1px #DEF2DE;
}

.basic_card.info {
	background: #EEF;
	border: solid 1px #CCF;
}

.basic_card.warning {
	background: #FED;
	border: solid 1px #ffcc00;
}

.alert_card{
	background: #F8F8F8;
	border: solid 1px #F2F2F2;
	border-radius: 2px;
	margin: 1em 0em;
	padding: 0.5em;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 6px 0px;
	min-height: 100px;
}

.alert_card .col-xs-1, .alert_card .col-sm-1, .alert_card .col-md-1, .alert_card .col-lg-1,
.alert_card .col-xs-2, .alert_card .col-sm-2, .alert_card .col-md-2, .alert_card .col-lg-2,
.alert_card .col-xs-3, .alert_card .col-sm-3, .alert_card .col-md-3, .alert_card .col-lg-3,
.alert_card .col-xs-4, .alert_card .col-sm-4, .alert_card .col-md-4, .alert_card .col-lg-4,
.alert_card .col-xs-5, .alert_card .col-sm-5, .alert_card .col-md-5, .alert_card .col-lg-5,
.alert_card .col-xs-6, .alert_card .col-sm-6, .alert_card .col-md-6, .alert_card .col-lg-6,
.alert_card .col-xs-7, .alert_card .col-sm-7, .alert_card .col-md-7, .alert_card .col-lg-7,
.alert_card .col-xs-8, .alert_card .col-sm-8, .alert_card .col-md-8, .alert_card .col-lg-8,
.alert_card .col-xs-9, .alert_card .col-sm-9, .alert_card .col-md-9, .alert_card .col-lg-9,
.alert_card .col-xs-10, .alert_card .col-sm-10, .alert_card .col-md-10, .alert_card .col-lg-10,
.alert_card .col-xs-11, .alert_card .col-sm-11, .alert_card .col-md-11, .alert_card .col-lg-11,
.alert_card .col-xs-12, .alert_card .col-sm-12, .alert_card .col-md-12, .alert_card .col-lg-12 {
    padding-left: 0;
    padding-right: 0;
}

.alert_card .row {
    margin-left: 0;
    margin-right: 0;
}

.alert_card label{
	margin-bottom: 0;
}

.ac_auto_up {
	display: inline-block;
	width: 80px;
}

.ac_pl {
	float: left !important;
}

.ac_pr {
	float: right !important;
}

@media (min-width: 768px) {
	.ac_pr,
	.ac_pl {
		float: none !important;
	}
}

.alert_card.warning {
	background: #FED;
	border: solid 1px #ffcc00;
}

.alert_card.danger {
	background: #F8EEEE;
	border: solid 1px #F2DEDE;
}

.alert_card.success {
	background: #EEF8EE;
	border: solid 1px #DEF2DE;
}

.nowrap {
	white-space: nowrap;
}

.perspective{
	-webkit-perspective: 800;
	-moz-perspective: 800;
	-ms-perspective: 800;
	-o-perspective: 800;
	perspective: 800;
}

.dashboard_card {
	-webkit-transition: box-shadow 0.2s, margin 0.2s, background 0.5s, -webkit-transform 0.6s;
	-moz-transition: box-shadow 0.2s, margin 0.2s, background 0.5s, -moz-transform 0.6s;
	-ms-transition: box-shadow 0.2s, margin 0.2s, background 0.5s, -ms-transform 0.6s;
	-o-transition: box-shadow 0.2s, margin 0.2s, background 0.5s, -o-transform 0.6s;
	transition: box-shadow 0.2s, margin 0.2s, background 0.5s, transform 0.6s;
	
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
	border: solid 1px #DDDDDD;
	background: #FFF;
	color: #555;
	border-radius: 2px;
	margin: 1em 0em;
	padding: 0.5em;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 6px 0px;
	min-height: 100px;
	overflow: hidden;
}

.dashboard_card .row{
	margin-bottom: 5px;
}

.dashboard_card_big {
	min-height: 170px;
}

.dashboard_card .title {
	font-weight: 800;
	font-size: 120%;
}

.dashboard_card:hover {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px 0px;
	/*cursor: pointer;*/
}

.dashboard_card.error {
	background: #FFE4E4;
	border: solid 1px #E99;
	box-shadow: rgba(200, 0, 0, 0.5) 0px 5px 10px 0px;	
}

.dashboard_card.error:hover {
	background: #FFE4E4;
	border: solid 1px #E99;
	box-shadow: rgba(200, 0, 0, 0.7) 0px 5px 15px 0px;	
}

.dashboard_card.ok {
	background: #DFD;
	border: solid 1px #9E9;
}

.dashboard_card.disabled {
	background: #DDD;
	border: solid 1px #BBB;
}

.dashboard_card.muted {
	border: solid 1px #DDD;
}



.host_card {
	-webkit-transition: color 0.6s, box-shadow 0.2s, margin 0.2s, background 0.5s, -webkit-transform 0.6s;
	-moz-transition: color 0.6s, box-shadow 0.2s, margin 0.2s, background 0.5s, -moz-transform 0.6s;
	-ms-transition: color 0.6s, box-shadow 0.2s, margin 0.2s, background 0.5s, -ms-transform 0.6s;
	-o-transition: color 0.6s, box-shadow 0.2s, margin 0.2s, background 0.5s, -o-transform 0.6s;
	transition: color 0.6s, box-shadow 0.2s, margin 0.2s, background 0.5s, transform 0.6s;
	
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
	border: solid 1px #DDDDDD;
	background: #FFF;
	border-radius: 2px;
	margin: 1em 0em;
	padding: 0.5em;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 6px 0px;
	min-height: 160px;
}

figure {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	padding-bottom: 1em;
	
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.back{
	padding-left: 1.1em;
	-webkit-transform: translateZ(-1px) rotateY(180deg);
	-moz-transform: translateZ(-1px) rotateY(180deg);
	-ms-transform: translateZ(-1px) rotateY(180deg);
	-o-transform: translateZ(-1px) rotateY(180deg);
	transform: translateZ(-1px) rotateY(180deg);
}

figure.front{
	padding-right: 1.1em;
	-webkit-transform: translateZ(1px);
	-moz-transform: translateZ(1px);
	-ms-transform: translateZ(1px);
	-o-transform: translateZ(1px);
	transform: translateZ(1px);
}

.host_card.flipped{
	-webkit-transform: rotateY( -180deg );
	-moz-transform: rotateY( -180deg );
	-ms-transform: rotateY( -180deg );
	-o-transform: rotateY( -180deg );
	transform: rotateY( -180deg );	
}

.host_card .title {
	font-weight: 800;
	font-size: 120%;
}

.host_card:hover {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px 0px;
	cursor: pointer;
	/*margin-left: -0.1em;
	margin-right: 0.1em;
	margin-top: 0.9em;
	margin-bottom: 1.1em;*/
}

.disconnected {
	background: #FFF8F8;
}

.host_card.disabled {
	background: #DDD;
	border: solid 1px #BBB;
}

.host_card.down {
	background: #FFE4E4;
	border: solid 1px #E99;
}

.host_card.degraded {
	background: #FED;
	border: solid 1px #ffcc00;
}

.host_card.up {
	background: #DFD;
	border: solid 1px #9E9;
}

.card_error {
	color: #A94442;
	background: #F8EEEE;
	border: solid 1px #F2DEDE;
	margin: 1em 0em;
	border-radius: 4px;
}

.card_error .header_title {
	background: #F4E6E6;
	padding: 0.5em;
	border-bottom: solid 1px #F2CECE;
	border-radius: 4px;
}

.card_error .header_title:hover {
	background-color: #F2DEDE;
	border-bottom: solid 1px #F2DEDE;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: pointer;
}

.card .section {
	border-radius: 4px;
	margin-bottom: 2px;
	display: flex;
	flex-wrap: nowrap;
}

.card .section.highlight {
	background: aliceblue;
}

.card .result_title.highlight:hover {
	background: #DEEFFD;
}

.card .result_title.highlight {
	color: #428bca;
	font-weight: 700;
}

.card .header_title.highlight {
	background: #DEEFFD;
	padding: 0.5em;
	border-bottom: solid 1px #D0E9FF;
}

.card .header_title.highlight:hover {
	background-color: #D0E9FF;
	border-bottom: solid 1px #D0E9FF;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: pointer;
}

.card_error .content{
	margin: 0.5em;
	margin-left: 1.5em;
	white-space: pre-wrap;
}

.card_error .footer {
	padding: 0.5em;
}

.card_error .footer:hover {
	background-color: #F2DEDE;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: pointer;
}

.process_card {
	border: solid 1px #DDDDDD;
	margin: 0.2em 0em;
	border-radius: 4px;
	display: flex;
	width: 50em;
}

.card {
	border: solid 1px #DDDDDD;
	margin: 1em 0em;
	border-radius: 4px;
}

.card .header_title {
	background-color: #F8F8F8;
	padding: 0.5em;
	border-bottom: solid 1px #F2F2F2;
	border-radius: 4px;
}

.card .header_title:hover {
	background-color: #F1F1F1;
	border-bottom: solid 1px #EEE;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: pointer;
}

.card .footer {
	padding: 0.5em;
}

.card .footer:hover {
	background-color: #FCFCFC;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: pointer;
}

.card .content{
	padding: 0.5em;
}

.card .content .part{
	padding: 0.5em 0em 0em;
}

.result_title{
	padding-left: .5em;
}

.result_title:hover{
	background-color: #F8F8F8;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: pointer;
}

.result_body{
	font-size: 90%;
	margin-bottom: .25em;
    margin-left: 2.5em;
	margin-right: .5em;
	white-space: pre-wrap;

}

.compact_item{
	color: #555;
	width:100%;
	display: block;
}

.compact_item:active{
	text-decoration: none;
 	color: #555;
}

.compact_item:hover{
 	text-decoration: none;
 	color: #555;
 	background-color: #f0f6fb;
}

.file_item{
	color: #555;
	width:100%;
	display: block;
}

.file_item:hover,
.file_item:active{
 	text-decoration: none;
 	color: #555;
}

.noscroll{
	position: fixed;
	overflow-y: hidden;
}

.popup-info{
	cursor: pointer;
	top: 80px;
	word-wrap: break-word;
	position: fixed;
	z-index: 99999;
	right: 1%;
	width: 30%;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px 0px;
}

@media (min-width: 768px){
	.popup-info{
		right: 1%;
	    width: 30%;
	}
}

@media (min-width: 992px){
	.popup-info{
		right: 1%;
	    width: 25%;
	}
}

@media (min-width: 1450px){
	.popup-info{
		right: 1%;
		width: 17%;
	}
}

.popup-message{
	top: 80px;
	word-wrap: break-word;
	position: fixed;
	z-index: 99999;
	left: 5%;
	width: 90%;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px 0px;
}

@media (min-width: 768px){
	.popup-message{
		left: 10%;
		width: 80%;
	}
}

@media (min-width: 992px){
	.popup-message{
		left: 15%;
		width: 70%;
	}
}

@media (min-width: 1450px){
	.popup-message{
		left: 20%;
		width: 60%;
	}
}

.text-fixed {
	font-family: monospace;
}

.text-heavy {
	font-weight: 900;
}

.text-info {
	-webkit-print-color-adjust: exact;
	color: #31708f !important;
}

.text-primary {
	-webkit-print-color-adjust: exact;
	color: #428bca !important;
}

.text-success {
	-webkit-print-color-adjust: exact;
	color: #3c763d !important;
}

.text-warning {
	-webkit-print-color-adjust: exact;
	color: #8a6d3b !important;
}

.text-warning2 {
	-webkit-print-color-adjust: exact;
	color: #F0AD4E !important;
}

.text-danger {
	-webkit-print-color-adjust: exact;
	color: #a94442 !important;
}

.text-muted {
	-webkit-print-color-adjust: exact;
	color: #999 !important;
}

.text-extra-light{
	-webkit-print-color-adjust: exact;
    color: #CCC !important;
}

.alert-default {
  background-color: #EEE;
  border-color: #BBB;
  color: #666;
}

.alert-primary {
  background-color: #E6F1FA;
  border-color: #96C2E8;
  color: #3071a9;
}

.alert-warning2 {
  background-color: #F4DFBF;
  border-color: #dfb77e;
  color: #C37200;
}

@media (min-width: 768px){
	.modal-resize{
		width: 98%;
	}
}

@media (min-width: 992px){
	.modal-resize {
		width: 980px;
	}
}

.strong{
	font-weight: 700;
}

.action_pending{
	color: #55E;
}

.action_failed{
	color: #B33;
}

.action_success{
	color: #5C5;
}

.api-sub-header{
	color: #999;
	font-size: 70%;
	font-weight: 100;
	text-align: right;
}

.api-header {
	color: #777;
	line-height: 36px;
	font-weight: 800;
	font-size: 150%;
  	border-bottom: 1px solid #EEE;
  	cursor: pointer;
}

.api-header:hover {
	color: #2d6ca2;
	border-bottom: 1px solid #A1B4D5;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background-color: #FCFCFC;
}

.api-header-pre {
	font-size: 70%;
  	color: #BBB;
}

.api-data {
	border: solid 1px #F2F2F2;
	margin: 0.5em 0em;
}

.api-data .header_title {
	font-size: 100%;
	background-color: #F8F8F8;
	padding: 0.5em;
	border-bottom: solid 1px #F2F2F2;
}

.api-data .sub_title {
	font-size: 90%;
}

.api-data .data {
	margin-top: 0.5em;
}

.api-data .header_title:hover {
	background-color: #F1F1F1;
	border-bottom: solid 1px #EEE;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: pointer;
}

.api-data .label-tag{
	margin: 1px 10px 1px 0px;
}

.inline-tag {
    color: #428bca;
}

.inline-tag:hover {
    color: #226baa;
}

.inline-tag.highlight {
    font-weight: 800;
    color: #226baa;
}

.navbar-dev{
	background-color: #2c5180;
	border-color: #00212D;
}

.navbar-dev .navbar-nav>li>a {
    color: #EEE;
}

.navbar-dev .navbar-brand {
    color: #EEE;
}

.navbar-nav .dropdown-header {
	color: #777;
}
.navbar-dev .dropdown-header {
	color: #AAA;
}

.navbar-inverse.navbar-dev .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #1f3d67;
}

.navbar-inverse.navbar-dev .navbar-nav .open .dropdown-menu>.active>a,
.navbar-inverse.navbar-dev .navbar-nav .open .dropdown-menu>.active>a:hover,
.navbar-inverse.navbar-dev .navbar-nav .open .dropdown-menu>.active>a:focus {
	background-color: #2c5180;
	color: #EEE;
}

.navbar-dev .navbar-nav>.active>a,
.navbar-inverse.navbar-dev .navbar-nav>.active>a:hover,
.navbar-inverse.navbar-dev .navbar-nav>.active>a:focus {
    background-color: #1f3d67;
    color: #EEE;
}

.navbar-inverse.navbar-dev .navbar-nav>.open>a,
.navbar-inverse.navbar-dev .navbar-nav>.open>a:hover,
.navbar-inverse.navbar-dev .navbar-nav>.open>a:focus {
    background-color: #1f3d67;
    color: #EEE;
}

@media (max-width: 767px) {
	.navbar-inverse.navbar-dev .navbar-nav .open .dropdown-menu>.active>a,
	.navbar-inverse.navbar-dev .navbar-nav .open .dropdown-menu>.active>a:hover,
	.navbar-inverse.navbar-dev .navbar-nav .open .dropdown-menu>.active>a:focus {
		background-color: #1f3d67;
		color: #EEE;
	}

	.navbar-inverse.navbar-dev .navbar-nav .open .dropdown-menu > li > a {
		color: #D1D1D1;
	}

	#appMenu.navbar-dev .divider {
		background-color: #999;
	}
}

@media print {
	.table-responsive {
		width: inherit;
		margin-bottom: inherit;
		overflow-x: inherit;
		overflow-y: inherit;
		border: inherit;
	}
}

.table-light-border>tbody+tbody {
    border-top: 1px solid #ddd;
}

.table-light-border>thead>tr>th, .table-light-border>tbody>tr>th, .table-light-border>tfoot>tr>th,
.table-light-border>thead>tr>td, .table-light-border>tbody>tr>td, .table-light-border>tfoot>tr>td {
    border-top: 1px dotted #eee;
}

@media print {
    .table-light-border>thead>tr>th, .table-light-border>tbody>tr>th, .table-light-border>tfoot>tr>th,
    .table-light-border>thead>tr>td, .table-light-border>tbody>tr>td, .table-light-border>tfoot>tr>td {
        border-top: 1px dashed #eee;
    }
}

.table>thead>tr>td.danger, .table>tbody>tr>td.danger, .table>tfoot>tr>td.danger, .table>thead>tr>th.danger,
.table>tbody>tr>th.danger, .table>tfoot>tr>th.danger, .table>thead>tr.danger>td, .table>tbody>tr.danger>td,
.table>tfoot>tr.danger>td, .table>thead>tr.danger>th, .table>tbody>tr.danger>th, .table>tfoot>tr.danger>th {
	-webkit-print-color-adjust: exact;
    background-color: #f2dede!important;
}

.table>thead>tr>td.warning, .table>tbody>tr>td.warning, .table>tfoot>tr>td.warning, .table>thead>tr>th.warning,
.table>tbody>tr>th.warning, .table>tfoot>tr>th.warning, .table>thead>tr.warning>td, .table>tbody>tr.warning>td,
.table>tfoot>tr.warning>td, .table>thead>tr.warning>th, .table>tbody>tr.warning>th, .table>tfoot>tr.warning>th {
    -webkit-print-color-adjust: exact;
	background-color: #fcf8e3!important;
}

.table>thead>tr>td.active, .table>tbody>tr>td.active, .table>tfoot>tr>td.active, .table>thead>tr>th.active,
.table>tbody>tr>th.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>tbody>tr.active>td,
.table>tfoot>tr.active>td, .table>thead>tr.active>th, .table>tbody>tr.active>th, .table>tfoot>tr.active>th {
	-webkit-print-color-adjust: exact;
	background-color: #f5f5f5!important;
}

.table-clickthrough>thead>tr>th, 
.table-clickthrough>tbody>tr>th, 
.table-clickthrough>tfoot>tr>th, 
.table-clickthrough>thead>tr>td, 
.table-clickthrough>tbody>tr>td, 
.table-clickthrough>tfoot>tr>td{
	overflow: hidden;
}
.table-clickthrough td a{
	margin: -10em;
	padding: 10em;
	display: block;
	color: inherit;
}

.table-clickthrough td a:hover{
	color: inherit;
}

.table-clickthrough a label{
	cursor: pointer;
}

.inner-addon{
    position: relative;
}

.inner-addon .glyphicon{
    position: absolute;
    padding: 10px;
    cursor: pointer;
}

.inner-addon .glyphicon:hover{
    color: #357edb;
}

.left-addon .glyphicon { left: 0px; }
.right-addon .glyphicon { right: 0px; }

.left-addon input { padding-left: 30px; }
.right-addon input { padding-right: 30px; }

.jedit {
    height:600px;
}

.expandable-tags{
    max-height: 20px;
    overflow: hidden;
}

.hint_row:hover{
    background-color: #F3F3F3;
}

.description {
	white-space: pre-wrap;
	word-break: break-word;
}

.rule_preview {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-width: 0px;
	word-break: break-word;
}

.box>.danger {
	-webkit-print-color-adjust: exact;
    background-color: #f2dede!important;
	border-bottom: 1px solid #d9534f !important;
}

.box>.warning {
	-webkit-print-color-adjust: exact;
    background-color: #fdf2e2!important;
	border-bottom: 1px solid #f0ad4e !important;
}

.box>.info {
	-webkit-print-color-adjust: exact;
    background-color: #f5f5f5!important;
	border-bottom: 1px solid #ddd !important;
}

.box>.header{
	font-weight: 700;
	padding: 5px;
}

.box>.item {
	padding: 5px;
}

.box {
	flex-grow: 1;
}

.box-container {
	display: flex;
	flex-wrap: wrap;
}

.docker_card:hover {
	background-color: #f0f6fb;
}

.docker_card {
	margin-top: 5px;
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px;
}

.indent_0 {}

.indent,
.indent_1 {
	padding-left: 2em;
}

.indent_2 {
	padding-left: 4em;
}

.indent_3 {
	padding-left: 6em;
}

.indent_4 {
	padding-left: 8em;
}

.indent_5 {
	padding-left: 10em;
}

.indent_6 {
	padding-left: 12em;
}

.section_rec_1 {
	margin-left: -0.5em;
}

.section_rec_2 {
	margin-left: -2.5em;
}

.section_rec_3 {
	margin-left: -4.5em;
}

.section_rec_4 {
	margin-left: -6.5em;
}

.section_rec_5 {
	margin-left: -8.5em;
}

.section_rec_6 {
	margin-left: -10.5em;
}

.section_info{
	min-width: 0.5em;
	background-color: #f1f1f1 !important;
}

.section_suspicious{
	min-width: 0.5em;
	background-color: #f5e3c9 !important;
}

.section_malicious{
	min-width: 0.5em;
	background-color: #f3caca !important;
}

.section_safe{
	min-width: 0.5em;
	background-color: #c8f5c8 !important;
}

.rpt_row_info {}

.rpt_row_suspicious {
  	-webkit-print-color-adjust: exact;
    background-color: #fff9f1 !important;
}

.rpt_row_malicious {
	-webkit-print-color-adjust: exact;
    background-color: #fff0f0 !important;
}

.action_divider {
    display: inline-block;
    text-align: center;
    width: 280px;
    margin: 30px 0;
    position: relative;
    border-top: 1px solid #AAAAAA;
}

.action_divider > div {
    background-color: #FFFFFF;
    left: 50%;
    margin-left: -30px;
    position: absolute;
    top: -10px;
    width: 60px;
}

.kv_line:hover{
	background-color: #F8F8F8;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
