<div>
    <div id="{{alert_idx}}" class="alert_card" ng-class="{success: alert.owner||alert.hint_owner, danger: alert.al.attrib.length>0}">
        <div class="row">
            <div class="col-xs-12 col-sm-2 col-lg-1 text-center">
                <div class="pad ac_pl ac_auto_up" style="font-size: 110%;"><span title="Score: {{ alert.al.score }}" style="cursor: default; width: 100%; min-width: 70px; text-align: center; display: inline-table" class="label label-tag {{alert.al.score | verdict_color}}">{{alert.al.score | verdict}}</span></div>
                <div ng-if="alert.group_count" class="hidden-xs bigger ac_auto_up" style="padding-top: 15px;"><h4><b><a href="/alerts.html?tc_start={{tc_start}}&tc={{tc}}&view_type=list&group_by={{group_by}}&fq={{group_by}}:&quot;{{get_object_value(alert, group_by) | quote}}&quot;&fq={{filter}}{{forced_filter}}">{{alert.group_count}}x</a></b></h4></div>
                <div ng-if="alert.extended_scan" class="hidden-xs bigpad text-large ac_auto_up" >
                    <span ng-if="alert.extended_scan=='completed'" class="text-success icon icon-ok-circle" title="Extended Scan completed successfully"></span>
                    <span ng-if="alert.extended_scan=='incomplete'" class="text-danger icon icon-remove-circle" title="Extended Scan completed with errors that where not present in original scan"></span>
                    <span ng-if="alert.extended_scan=='submitted'" class="icon icon-circleselection" title="Waiting on extended scan to be completed"></span>
                    <span ng-if="alert.extended_scan=='skipped'" class="text-warning icon icon-ban-circle" title="Extended Scan was skipped for this alert"></span>
                </div>
                <div class="ac_pr ac_auto_up pad" title="Malicious: {{alert.verdict.malicious.length}} / Non-Malicious: {{alert.verdict.non_malicious.length}}">
                    <div>
                        <svg height="10" width="100%">
                            <rect height="10" width="100%" style="fill: transparent;stroke: lightgrey"></rect>
                            <rect ng-attr-x="{{50 - (alert.verdict.malicious.length * 5)}}%" ng-attr-width="{{(alert.verdict.malicious.length * 5)}}%" y="1" height="13" fill="#d9534f"></rect>
                            <rect x="50%" ng-attr-width="{{(alert.verdict.non_malicious.length * 5)}}%" y="1" height="13" fill="#5cb85c"></rect>
                            <rect x="50%" y="0" height="10" width="1%" fill="lightgrey"></rect>
                        </svg>
                    </div>
                    <div class="row">
                        <div style="padding-right: 5px" class="col-xs-6 text-center">
                            <span title="Malicious" class="icon-emojidevil text-large" ng-class="{'bad-icon': alert.verdict.malicious.indexOf(user.uname)!=-1, 'undecided-icon': alert.verdict.malicious.indexOf(user.uname)==-1}" ng-click="send_malicious_verdict(alert)"></span>
                        </div>
                        <div style="padding-left: 5px" class="col-xs-6 text-center">
                            <span title="Safe" class="icon-happy text-large" ng-class="{'good-icon': alert.verdict.non_malicious.indexOf(user.uname)!=-1, 'undecided-icon': alert.verdict.non_malicious.indexOf(user.uname)==-1}"  ng-click="send_non_malicious_verdict(alert)"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-10 col-lg-11">
                <div class="row pad" ><label class="col-xs-3 col-sm-2" style="font-size: 110%">{{alert.type}}</label><div class="col-xs-9 col-sm-10"><div ng-if="user.c12n_enforcing" class="hidden-xs pull-right" style="margin-right: 10px"><label class="label classification {{alert.classification | class_label_color}}">&nbsp;&nbsp;{{alert.classification | class_sm}}&nbsp;&nbsp;</label></div><span ng-if="alert.ts">{{alert.ts | iso_to_utc}}&nbsp;(UTC)</span></div></div>
                <div class="row" style="padding-bottom: 10px" ng-if="alert.filtered"><label class="col-xs-3 col-sm-2"></label><div class="col-xs-9 col-sm-10"><b>Alert data filtered because submitter does not have the privileges to see all results</b></div></div>
                <div ng-if="alert.group_count" class="hidden-sm hidden-md hidden-lg row"><label class="col-xs-3 col-sm-2">Count:</label><div class="col-xs-9 col-sm-10"><b><a href="/alerts.html?tc_start={{tc_start}}&tc={{tc}}&view_type=list&group_by={{group_by}}&fq={{group_by}}:&quot;{{get_object_value(alert, group_by) | quote}}&quot;&fq={{filter}}{{forced_filter}}">{{alert.group_count}}x</a></b></div></div>
                <div ng-if="user.c12n_enforcing" class="hidden-sm hidden-md hidden-lg row"><label class="col-xs-3 col-sm-2">Classification:</label><div class="col-xs-9 col-sm-10""><label class="{{alert.classification | class_text_color}}">{{alert.classification | class_long}}</label></div></div>
                <div class="hidden-sm hidden-md hidden-lg row"><label class="col-xs-3 col-sm-2">Score:</label><div class="col-xs-9 col-sm-10 {{alert.al.score | score_color}}"><b>{{alert.al.score}}</b></div></div>
                <div class="hidden-sm hidden-md hidden-lg row" style="padding-bottom: 10px;"><label class="col-xs-3 col-sm-2">Dynamic:</label><div class="col-xs-9 col-sm-10">{{alert.extended_scan}}</div></div>
                <div class="row" ng-if="alert.label"><label class="col-xs-3 col-sm-2">Labels:</label><div class="col-xs-9 col-sm-10"><label ng-repeat="l in alert.label track by $index" class="label label-tag label-default">{{l}}</label></div></div>
                <div class="row" ng-if="alert.priority"><label class="col-xs-3 col-sm-2">Priority:</label><div class="col-xs-9 col-sm-10"><label class="label label-tag label-default">{{alert.priority}}</label></div></div>
                <div class="row" ng-if="alert.status"><label class="col-xs-3 col-sm-2">Status:</label><div class="col-xs-9 col-sm-10"><label class="label label-tag label-default">{{alert.status}}</label></div></div>
                <div class="row" style="padding-top: 10px"><label class="col-xs-3 col-sm-2">File info:</label><div class="col-xs-9 col-sm-10"><div class="text-primary"><b>{{alert.file.name}}</b></div><div ng-if="alert.file.type">{{alert.file.type}}</div><div><b>{{alert.file.size}}</b> ({{alert.file.size | fileSize}})</div></div>
                <div class="row text-fixed"><label class="col-xs-3 col-sm-2">MD5:</label><div class="col-xs-9 col-sm-10 small">{{alert.file.md5}}</div></div>
                <div class="row text-fixed"><label class="col-xs-3 col-sm-2">SHA1:</label><div class="col-xs-9 col-sm-10 small">{{alert.file.sha1}}</b></div></div>
                <div class="row text-fixed" style="padding-bottom: 10px"><label class="col-xs-3 col-sm-2">SHA256:</label><div class="col-xs-9 col-sm-10 small">{{alert.file.sha256}}</div></div>
                <div class="row" ng-show="alert.owner"><label class="col-xs-3 col-sm-2">Ownership:</label><div class="col-xs-9 col-sm-10"><b>{{alert.owner}}</b></div></div>
                <div class="row" ng-show="alert.hint_owner"><label class="col-xs-3 col-sm-2">Ownership:</label><div class="col-xs-9 col-sm-10"><b>There are owners for previous alerts in the group</b></div></div>
                <div ng-if="has_meta(alert)" style="padding-top: 10px; padding-bottom: 10px;">
                    <div ng-if="k != 'type' && k != 'ts'" ng-repeat="(k,v) in alert.metadata" class="row"><label ng-if="v" class="col-xs-3 col-sm-2">{{ k | titleCase }}:</label><div ng-if="v" class="col-xs-9 col-sm-10">{{ v | joinBy }}</div></div>
                </div>
                <div class="row" ng-if="alert.attack.category"><label class="col-xs-3 col-sm-2">Category:</label><div class="col-xs-9 col-sm-10 small"><span class="text-info text-heavy">{{alert.attack.category | split}}</span></div></div>
                <div class="row" ng-if="alert.attack.pattern"><label class="col-xs-3 col-sm-2">Patterns:</label><div class="col-xs-9 col-sm-10 small"><span class="text-info text-heavy">{{alert.attack.pattern | split}}</span></div></div>
                <div class="row" ng-if="alert.heuristic.name"><label class="col-xs-3 col-sm-2">Heuristics:</label><div class="col-xs-9 col-sm-10 small"><span class="text-info">{{alert.heuristic.name | split}}</span></div></div>
                <div class="row" ng-if="alert.al.behavior"><label class="col-xs-3 col-sm-2">Behaviors:</label><div class="col-xs-9 col-sm-10 small"><span class="text-info">{{alert.al.behavior | split}}</span></div></div>
                <div class="row" ng-if="alert.al.attrib"><label class="col-xs-3 col-sm-2">Attribution:</label><div class="col-xs-9 col-sm-10"><b class="text-danger">{{alert.al.attrib | split}}</b></div></div>
                <div class="row" ng-if="alert.al.av"><label class="col-xs-3 col-sm-2">AV Hits:</label><div class="col-xs-9 col-sm-10"><b class="text-warning">{{alert.al.av | split}}</b></div></div>
                <div class="row" ng-if="has_items(alert.al.ip)&&!has_items(alert.al.ip_static)&&!has_items(alert.al.ip_dynamic)"><label class="col-xs-3 col-sm-2">IPs:</label><div class="col-xs-9 col-sm-10 small"><span class="text-success">{{alert.al.ip | split}}</span></div></div>
                <div class="row" ng-if="has_items(alert.al.ip_static)||has_items(alert.al.ip_dynamic)"><label class="col-xs-3 col-sm-2">IPs:</label><div class="col-xs-9 col-sm-10 small"><span class="text-success"><b>{{alert.al.ip_dynamic | split}}</b></span><span ng-if="has_items(alert.al.ip_dynamic)&&has_items(alert.al.ip_static)"> | </span><span class="text-success">{{alert.al.ip_static | split}}</span></div></div>
                <div class="row" ng-if="has_items(alert.al.domain)&&!has_items(alert.al.domain_static)&&!has_items(alert.al.domain_dynamic)"><label class="col-xs-3 col-sm-2">Domains:</label><div class="col-xs-9 col-sm-10 small"><span class="text-success">{{alert.al.domain | split}}</span></div></div>
                <div class="row" ng-if="has_items(alert.al.domain_static)||has_items(alert.al.domain_dynamic)"><label class="col-xs-3 col-sm-2">Domains:</label><div class="col-xs-9 col-sm-10 small"><span class="text-success"><b>{{alert.al.domain_dynamic | split}}</b></span><span ng-if="has_items(alert.al.domain_dynamic)&&has_items(alert.al.domain_static)"> | </span><span class="text-success">{{alert.al.domain_static | split}}</span></div></div>
                <div class="row" ng-if="alert.al.yara"><label class="col-xs-3 col-sm-2">Yara hits:</label><div class="col-xs-9 col-sm-10 small">{{alert.al.yara | split}}</div></div>
                <div class="row" style="padding-top: 5px">
                    <div class="col-md-2"></div>
                    <div class="col-lg-10 small form-inline">
                        <a id="{{alert_idx}}_submission" ng-disabled="!alert.sid" class="btn btn-xs btn-default" href="/{{get_default_view()}}.html?sid={{alert.sid}}" class="btn btn-xs btn-default">Submission</a>
                        <a id="{{alert_idx}}_related" href="/search.html?query={{alert.file.sha256}}" class="btn btn-xs btn-default">Search SHA256</a>
                        <a id="{{alert_idx}}_similar" href="" class="btn btn-default btn-xs" ng-click="count_similar(alert, alert_idx);">Count similar</a>
                        <a id="{{alert_idx}}_related_alerts" href="" class="btn btn-default btn-xs" ng-click="list_related_alerts(alert, alert_idx);">Related IDs</a>
                        <a ng-if="!user.read_only" id="{{alert_idx}}_ownership" href="" ng-disabled="alert.owner" class="btn btn-xs btn-default" ng-click="take_ownership(alert, alert_idx);"><span ng-show="alert.owner">Has</span><span ng-show="!alert.owner">Take</span> ownership</a>
                        <a ng-if="!user.read_only" id="{{alert_idx}}_workflow" href="" class="btn btn-xs btn-default" ng-click="prompt_workflow_action(alert, alert_idx);">Workflow action</a>
                    </div>
                </div>
                <div style="padding-top: 3px; padding-bottom: 5px; margin-right: 10px">
                    <div class="text-smaller text-muted text-right">{{alert.alert_id}} :: <a class="text-muted nowrap" href="" ng-click="lock_in_timestamp(alert)">{{alert.reporting_ts | iso_to_utc }} (UTC)</a></div>
                </div>
            </div>
        </div>
    </div>
</div>


