<section class="row">
    <div class="col-sm-12">
        <div class="docker_card" ng-click="$parent.edit_docker_config(docker_type, docker_config, docker_name, docker_volumes)">
            <div ng-if="docker_name" class="text-icon text-heavy">{{ docker_name }}</div>
            <div class="text-icon text-fixed">{{ docker_config.image }}</div>
            <div ng-show="docker_config.registry_username||docker_config.registry_password" style="padding-bottom: 5px"><i>Using private credentials for this registry</i></div>
            <div style="margin-bottom: 10px;">
                <span class="text-middle text-icon icon-cpualt-processoralt"></span><span class="text-middle text-fixed">&nbsp;&nbsp;{{ docker_config.cpu_cores }}</span>
                <span class="text-middle indent text-icon icon-ram"></span><span class="text-middle text-fixed">&nbsp;&nbsp;{{ docker_config.ram_mb }}</span>
            </div>
            <table>
				<tbody>
					<tr ng-show="docker_config.command !== null && docker_config.command !== undefined && docker_config.command.length != 0">
						<td style="font-weight: 700; vertical-align: top;">Executed command:&nbsp;&nbsp;</td><td class="text-fixed" style="word-break: break-all;">{{ docker_config.command | joinBy:' ' }}</td>
					</tr>
					<tr>
						<td style="font-weight: 700; vertical-align: top;">Internet access:&nbsp;&nbsp;</td><td class="text-fixed" ng-class="{'text-danger': !docker_config.allow_internet_access, 'text-success': docker_config.allow_internet_access}" style="word-break: break-all;">{{ docker_config.allow_internet_access }}</td>
					</tr>
				</tbody>
			</table>

            <div ng-show="docker_config.environment.length != 0">
                <label>Environment variables:</label>
                <div class="indent text-fixed" ng-repeat="env in docker_config.environment">{{ env.name }} = {{ env.value }}</div>
            </div>
            <div ng-if="docker_volumes&&$parent.obj_len(docker_volumes)!==0">
                <label>Volumes:</label>
                <div class="indent text-fixed" ng-repeat="(name, vol) in docker_volumes">{{ name }} = {{ vol.mount_path }} ({{vol.capacity}})</div>
            </div>
        </div>
    </div>
</section>