<div ng-show="file_tree">
	<div ng-repeat="file in file_tree | orderByObjectInt:'score':'name'">
		<div ng-if="(file.key != 'TBD' && important_files.indexOf(file.sha256) != -1) || obj_len(file.children) > 0">
			<div class="text-heavy"><span style="cursor: default" title="{{file.score | score_label}} (Score: {{ file.score }})" class="text-fixed label label-tag {{file.score | label_color}}"><strong>{{file.score | score_label | firstLetter }}</strong></span>{{file.name|split}}</div>
			<table>
				<tbody>
					<tr>
						<td class="text-fixed text-muted text-smaller" style="vertical-align: top;">Type:&nbsp;</td><td class="text-fixed text-muted text-smaller" style="word-break: break-all;">{{file.type}}</td>
					</tr>
					<tr>
						<td class="text-fixed text-muted text-smaller" style="vertical-align: top;">SHA256:&nbsp;</td><td class="text-fixed text-muted text-smaller" style="word-break: break-all;">{{file.sha256}}</td>
					</tr>
					<tr>
						<td class="text-fixed text-muted text-smaller" style="vertical-align: top;">Size:&nbsp;</td><td class="text-fixed text-muted text-smaller" style="word-break: break-all;">{{file.size}}</td>
					</tr>
				</tbody>
			</table>
			<div class="indent" style="padding-top: 5px">
				<ng-include src="'/static/ng-template/report_file_item.html'" ng-init="file_tree=file.children"></ng-include>
			</div>
		</div>
	</div>
</div>