<div ng-show="file_tree">
	<div ng-repeat="file in file_tree | orderByObjectInt:'score':'name'">
		<div ng-if="file.key != 'TBD' || obj_len(file.children) > 0 ">
			<div class="text-heavy">{{file.name|split}}</div>
			<table>
				<tbody>
					<tr>
						<td class="text-fixed text-muted text-smaller" style="vertical-align: top;">Score:&nbsp;</td><td class="text-fixed text-heavy text-smaller {{file.score | score_color}}" style="word-break: break-all;">{{file.score}}</td>
					</tr>
					<tr>
						<td class="text-fixed text-muted text-smaller" style="vertical-align: top;">Type:&nbsp;</td><td class="text-fixed text-muted text-smaller" style="word-break: break-all;">{{file.type}}</td>
					</tr>
					<tr>
						<td class="text-fixed text-muted text-smaller" style="vertical-align: top;">SHA256:&nbsp;</td><td class="text-fixed text-muted text-smaller" style="word-break: break-all;">{{file.sha256}}</td>
					</tr>
					<tr>
						<td class="text-fixed text-muted text-smaller" style="vertical-align: top;">Size:&nbsp;</td><td class="text-fixed text-muted text-smaller" style="word-break: break-all;">{{file.size}}</td>
					</tr>
				</tbody>
			</table>
			<div class="indent" style="padding-top: 5px">
				<ng-include src="'/static/ng-template/report_file_item.html'" ng-init="file_tree=file.children;"></ng-include>
			</div>
		</div>
	</div>
</div>