<div style="margin-bottom: 15px;">
    <span style="cursor: pointer;" class="label label-nolight text-large classification" ng-click="toggle_field('enabled')" ng-class="{'label-highlight': current_service.enabled}">
        <span ng-show="current_service.enabled">Enabled</span>
        <span ng-hide="current_service.enabled">Disabled</span>
    </span>
</div>


<ul class="nav nav-tabs" id="tabContent">
    <li id="genaral_tab" class="active"><a href="#general" data-toggle="tab">General</a></li>
    <li id="docker_tab"><a href="#docker" data-toggle="tab">Docker</a></li>
    <li ng-if="current_service.update_config" id="update_tab"><a href="#updater" data-toggle="tab">Updater</a></li>
    <li id="params_tab"><a href="#params" data-toggle="tab">Params</a></li>
</ul>


<div class="tab-content">
    <section class="row tab-pane active" id="general" style="margin-top: 10px">
        <div class="form-group col-sm-6">
            <label class="control-label">Service name</label>
            <input type="text" class="form-control input-sm input" ng-model="current_service.name" disabled="disabled">
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label">Version</label>

            <select class="form-control input-sm" ng-model="current_service.version">
                <option ng-repeat="version in current_service_versions">{{version}}</option>
            </select>
        </div>
        <div ng-if="user.c12n_enforcing" class="form-group col-sm-12">
            <label class="control-label">Default result classification</label>
            <div class="label classification {{current_service.default_result_classification | class_label_color}}" data-toggle="modal" href="#classification_picker" ng-click="setClassification(current_service.default_result_classification)">{{current_service.default_result_classification | class_long}}</div>
        </div>
        <div class="form-group col-sm-12">
            <label class="control-label">Description</label>
            <textarea class="form-control input-sm" ng-model="current_service.description" rows="4"></textarea>
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label">Stage</label>
            <select class="form-control input-sm" ng-model="current_service.stage">
                <option ng-repeat="cat in service_constants.stages">{{cat}}</option>
            </select>
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label">Service category</label>
            <select class="form-control input-sm" ng-model="current_service.category">
                <option ng-repeat="cat in service_constants.categories">{{cat}}</option>
            </select>
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label">Accept files</label>
            <input type="text" class="form-control input-sm input-medium" ng-model="current_service.accepts">
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label">Reject files</label>
            <input type="text" class="form-control input-sm input-medium" ng-model="current_service.rejects">
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label">Timeout</label>
            <input type="number" class="form-control input-sm" ng-model="current_service.timeout" min=1>
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label">Max service allocation</label>
            <input type="number" class="form-control input-sm" ng-model="current_service.licence_count" min=0>
        </div>
        <div class="col-sm-6">
            <label>Service Location</label>
            <div class="radio">
                <label ng-class="{checked:current_service.is_external}">
                    <input style="margin-top: 0" type="radio" name="is_external" ng-click="enable_field('is_external')" ng-checked="current_service.is_external">
                    External <span class="text-muted text-smaller">(Outside of Assemblyline infrastructure)</span>
                </label>
            </div>
            <div class="radio">
                <label ng-class="{checked:!current_service.is_external}">
                    <input style="margin-top: 0" type="radio" name="is_external" ng-click="disable_field('is_external')" ng-checked="!current_service.is_external">
                    Internal <span class="text-muted text-smaller">(Inside Assemblyline infrastructure)</span>
                </label>
            </div>
        </div>
        <div class="col-sm-6">
            <label>Result caching</label>

            <div class="radio">
                <label ng-class="{checked:!current_service.disable_cache}">
                    <input style="margin-top: 0" type="radio" name="disable_cache" ng-click="disable_field('disable_cache')" ng-checked="!current_service.disable_cache"> Enabled
                </label>
            </div>
            <div class="radio">
                <label ng-class="{checked:current_service.disable_cache}">
                    <input style="margin-top: 0" type="radio" name="disable_cache" ng-click="enable_field('disable_cache')" ng-checked="current_service.disable_cache"> Disabled
                </label>
            </div>
        </div>
    </section>
    <section class="tab-pane" id="docker">
        <div>
            <h4><strong>Docker configuration</strong></h4>
        </div>
        <div class="form-group">
            <label class="control-label">Service container channel</label>
            <select class="form-control input-sm" ng-model="current_service.update_channel">
                <option value="stable">Stable</option>
                <option value="rc">Release Candidate</option>
                <option value="beta">Beta</option>
                <option value="dev">Development</option>
            </select>
        </div>
        <label class="control-label">Docker image</label>
        <div docker-config src="current_service.docker_config" type="'service_container'" style="margin-bottom: 10px"></div>
        <label>Container dependancies</label>
        <div class="row">
            <div ng-repeat="(name, dep) in current_service.dependencies | orderBy:name">
                <div class="col-xs-10 col-sm-11" docker-config src="dep.container" type="'dependency'" name="name" volumes="dep.volumes"></div>
                <div class="col-xs-2 col-sm-1" style="margin-top: 5px">
                    <span class="btn btn-sm btn-danger" ng-click="remove_dependency(name);"><span class="glyphicon glyphicon-minus"></span></span>
                </div>
            </div>
        </div>

        <div ng-show="obj_len(current_service.dependencies)===0" class="text-muted">No dependencies</div>
        <span class="btn btn-sm btn-success" ng-click="add_dependency();" style="margin-top: 15px">Add dependency&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span></span>

    </section>
    <section ng-if="current_service.update_config" class="row tab-pane" id="updater">
        <div class="col-xs-12">
            <h4><strong>Update configuration</strong></h4>
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label">Method</label>
            <select class="form-control input-sm" ng-model="current_service.update_config.method">
                <option ng-selected="current_service.update_config.method=='run'">run</option>
                <option ng-selected="current_service.update_config.method=='build'">build</option>
            </select>
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label">Update interval (seconds)</label>
            <input type="number" class="form-control input-sm" ng-model="current_service.update_config.update_interval_seconds" min=60>
        </div>
        <label class="col-xs-12">Options</label>
        <div ng-show="current_service.update_config.method=='run'" class="col-xs-12" docker-config src="current_service.update_config.run_options" type="'update_container'" style="margin-bottom: 10px"></div>
        <div ng-hide="current_service.update_config.method=='run'" class="col-xs-12 text-muted" style="margin-bottom: 10px">Build options are not yet defined...</div>
        <div class="col-sm-6">
            <label>Generates Signatures</label>
            <div class="radio">
                <label ng-class="{checked:current_service.update_config.generates_signatures}">
                    <input style="margin-top: 0" type="radio" name="generate_sigs" ng-click="enable_field('generates_signatures')" ng-checked="current_service.update_config.generates_signatures">
                    Enabled
                </label>
            </div>
            <div class="radio">
                <label ng-class="{checked:!current_service.update_config.generates_signatures}">
                    <input style="margin-top: 0" type="radio" name="generate_sigs" ng-click="disable_field('generates_signatures')" ng-checked="!current_service.update_config.generates_signatures">
                    Disabled
                </label>
            </div>
        </div>
        <div class="col-sm-12">
            <label>Update Sources</label>
            <div ng-show="current_service.update_config.sources.length == 0" class="text-muted" style="margin-bottom: 15px">No update sources defined</div>
            <div ng-repeat="source in current_service.update_config.sources" class="row" style="margin-bottom: 4px">
                <div class="col-xs-10 col-sm-11">
                     <div source-config src="source"></div>
                </div>
                <div class="col-xs-2 col-sm-1" style="margin-top: 5px">
                    <span class="btn btn-sm btn-danger" ng-click="delete_source_config(source);"><span class="glyphicon glyphicon-minus"></span></span>

                </div>
            </div>
            <div class="btn btn-sm btn-success" ng-click="add_source_config();">Add update source&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span></div>

        </div>
    </section>
    <div class="tab-pane" id="params">
        <section class="row">
            <div class="col-sm-12">
                <h4><strong>User Specified Parameters</strong></h4>
            </div>
            <div class="col-sm-12">
                <section class="row" style="padding: 2px 0px" ng-repeat="param in current_service.submission_params" >
                    <div class="col-xs-10 col-sm-3">
                        <label class="control-lablel">{{param.name}} [{{param.type}}]: </label>
                    </div>
                    <div ng-if="param.type!='list'" class="col-xs-10 col-sm-8">
                        <input class="form-control input-sm" type="text" ng-model="param.default" placeholder="Empty default value" smart-input="{type: param.type}"/>
                    </div>
                    <div ng-if="param.type=='list'" class="col-xs-10 col-sm-5">
                        <input class="form-control input-sm" type="text" ng-model="param.list" placeholder="Empty default value" smart-input="{type: param.type}"/>
                    </div>
                    <div ng-if="param.type=='list'" class="col-xs-10 col-sm-3">
                        <input class="form-control input-sm" type="text" ng-model="param.default" placeholder="Empty default value" smart-input="{type: 'str'}"/>
                    </div>
                    <div class="col-xs-2 col-sm-1">
                        <span class="btn btn-sm btn-danger" ng-click="remove_specific(param.name);"><span class="glyphicon glyphicon-minus"></span></span>
                    </div>
                </section>
                <section class="row" style="margin-top: 10px;">
                    <div id="new_spec_name" class="col-xs-10 col-sm-3">
                        <input id="spec_name" class="form-control input-sm" type="text" ng-model="spec_temp.name" placeholder="Parameter name"/>
                    </div>
                    <div id="new_spec_type" class="col-xs-10 col-sm-2">
                        <select id="spec_type" class="form-control input-sm" ng-model="spec_temp.type">
                            <option>bool</option>
                            <option>int</option>
                            <option value="list">list (comma)</option>
                            <option>str</option>
                            <option>unicode</option>
                        </select>
                    </div>
                    <div ng-if="spec_temp.type!='list'" id="new_spec_default" class="col-xs-10 col-sm-6">
                        <input id="spec_default" class="form-control input-sm" type="text" ng-model="spec_temp.default" placeholder="Default parameter value" smart-input="{type_var: 'spec_temp.type', update_ctrl: 'spec_temp.default'}"/>
                    </div>
                    <div ng-if="spec_temp.type=='list'" id="new_spec_list" class="col-xs-10 col-sm-4">
                        <input id="spec_list" class="form-control input-sm" type="text" ng-model="spec_temp.list" placeholder="List of items" smart-input="{type: 'list', update_ctrl: 'spec_temp.list'}"/>
                    </div>
                    <div ng-if="spec_temp.type=='list'" id="new_spec_default" class="col-xs-10 col-sm-2">
                        <input id="spec_default" class="form-control input-sm" type="text" ng-model="spec_temp.default" placeholder="Default parameter value" smart-input="{type: 'str', update_ctrl: 'spec_temp.default'}"/>
                    </div>
                    <div class="col-xs-2 col-sm-1">
                        <span class="btn btn-sm btn-success" ng-click="add_specific();"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                </section>
                <section class="row">
                    <div id="spec_error" class="col-sm-12 text-danger">{{spec_error}}</div>
                </section>
            </div>
        </section>

        <section class="row" style="margin-top: 10px">
            <div class="col-sm-12">
                <h4><strong>Service Variables</strong></h4>
            </div>
            <div class="col-sm-12">
                <div ng-repeat="(key, val) in current_service.config | orderBy:key" class="row" style="padding: 2px 0px">
                    <div class="col-xs-10 col-sm-3">
                        <label class="control-lablel">{{key}}:</label>
                    </div>
                    <div class="col-xs-10 col-sm-8">
                        <input type="text" class="form-control input-sm" ng-model="current_service.config[key]" json-input/>
                    </div>
                    <div class="col-xs-2 col-sm-1">
                        <span class="btn btn-sm btn-danger" ng-click="remove_meta(key);"><span class="glyphicon glyphicon-minus"></span></span>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div id="new_conf_temp_key" class="col-xs-10 col-sm-3">
                        <input id="conf_temp_key" type="text" class="form-control input-sm" ng-model="conf_temp.key" placeholder="Variable name"/>
                    </div>
                    <div id="new_conf_temp_type" class="col-xs-10 col-sm-2">
                        <select id="conf_temp_type" class="form-control input-sm" ng-model="conf_temp.type">
                            <option>bool</option>
                            <option>int</option>
                            <option value="list">list (comma)</option>
                            <option>str</option>
                            <option>json</option>
                        </select>
                    </div>
                    <div ng-if="conf_temp.type!='json'" id="new_conf_temp.val" class="col-xs-10 col-sm-6">
                        <input id="conf_temp_val" type="text" class="form-control input-sm" ng-model="conf_temp.val" placeholder="Variable value" smart-input="{type_var: 'conf_temp.type', update_ctrl: 'conf_temp.val'}"/>
                    </div>
                    <div ng-if="conf_temp.type=='json'" id="new_conf_temp.val" class="col-xs-10 col-sm-6">
                        <input id="conf_temp_val" type="text" class="form-control input-sm" ng-model="conf_temp.val" placeholder="Variable value" json-input="{update_ctrl: 'conf_temp.val'}"/>
                    </div>
                    <div class="col-xs-2 col-sm-1">
                        <span class="btn btn-sm btn-success" ng-click="add_meta();"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                </div>
                <section class="row">
                    <div id="conf_temp_error" class="col-sm-12 text-danger">{{conf_temp_error}}</div>
                </section>
            </div>
        </section>
    </div>
</div>