<section class="row pad">
	<div class="col-md-12">
		<div id="source_uri" class="form-group">
			<label class="control-label">URI</label>&nbsp;&nbsp;<label class="label label-danger">required</label>
			<input type="text" class="form-control input-sm input-medium" ng-model="current_source.uri">
		</div>
	</div>
	<div ng-if="user.c12n_enforcing" class="col-md-12">
		<label>Default signatures classification</label>
		<div style="margin-bottom: 15px" class="label classification {{current_source.default_classification | class_label_color}}" data-toggle="modal" href="#classification_picker" ng-click="setClassification(current_source.default_classification)">{{current_source.default_classification | class_long}}</div>
	</div>
	<div class="col-md-6">
		<div id="source_resulting_filename" class="form-group">
			<label class="control-label">Source Name</label>&nbsp;&nbsp;<label class="label label-danger">required</label>
			<input type="text" class="form-control input-sm input" ng-model="current_source.name" ng-disabled="editmode">
           	<div id="source_name_error" class="col-md-12 text-danger">{{source_name_error}}</div>
		</div>
		<div class="form-group">
			<label class="control-label">Pattern</label>
			<input type="text" class="form-control input-sm" ng-model="current_source.pattern">
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label class="control-label">Username</label>
			<input type="text" class="form-control input-sm input-medium" ng-model="current_source.username">
		</div>
			<div class="form-group">
			<label class="control-label">Password</label>
			<input type="text" class="form-control input-sm input-medium" ng-model="current_source.password">
		</div>
	</div>
	<div class="col-md-12">
		<div class="form-group">
			<label class="control-label">Private key</label>
			<textarea class="form-control input-sm" ng-model="current_source.private_key" rows="6"></textarea>
		</div>
    </div>
</section>

<section class="row">
	<div class="col-md-12" class="form-group">
		<label class="control-label">Headers</label>
	</div>
	<div class="col-md-12">
		<div ng-repeat="header in current_source.headers | orderBy:header.name" class="row" style="padding: 2px 0px">
			<div class="col-xs-10 col-sm-3">
				<label class="control-lablel">{{header.name}}:</label>
			</div>
			<div class="col-xs-10 col-sm-8">
				<input type="text" class="form-control input-sm" ng-model="header.value"/>
			</div>
			<div class="col-xs-2 col-sm-1" style="padding-left: 0px">
				<span class="btn btn-sm btn-danger" ng-click="remove_header(header.name, header.value);"><span class="glyphicon glyphicon-minus"></span></span>
			</div>
		</div>
		<div class="row" style="margin-top: 10px;">
			<div id="new_conf_temp_key" class="col-xs-10 col-sm-3">
				<input id="conf_temp_key" type="text" class="form-control input-sm" ng-model="conf_temp.key" placeholder="Header name"/>
			</div>
			<div id="new_conf_temp_val" class="col-xs-10 col-sm-8">
				<input id="conf_temp_val" type="text" class="form-control input-sm" ng-model="conf_temp.val" placeholder="Header value"/>
			</div>
			<div class="col-xs-2 col-sm-1" style="padding-left: 0px">
				<span class="btn btn-sm btn-success" ng-click="add_header();"><span class="glyphicon glyphicon-plus"></span></span>
			</div>
		</div>
	</div>
	<div id="conf_temp_error" class="col-md-12 text-danger">{{conf_temp_error}}</div>
</section>

<section class="row">
	<div class="col-md-12" class="form-group" style="margin-top: 10px;">
		<label class="control-label">Proxy</label>
        	<input class="form-control input-sm" ng-model="current_source.proxy" placeholder="scheme://user:pass@proxy:port"></input>
	</div>
</section>

<section class="row">
	<div class="col-md-12" class="form-group" style="margin-top: 10px;">
		<label class="control-label">CA Certificate</label>
        <textarea class="form-control input-sm" ng-model="current_source.ca_cert" rows="10" style="font-family: monospace"></textarea>
	</div>
    <div class="col-md-12" class="form-group" style="margin-top: 10px;">
        <label ng-class="{checked:current_source.ssl_ignore_errors}">
            <input type="checkbox" ng-model="current_source.ssl_ignore_errors"> Ignore SSL Errors
        </label>
    </div>
</section>

