<section class="row">
    <div class="col-sm-12">
        <div class="docker_card" ng-click="$parent.edit_source_config(source_config, service)">
			<div style="padding-bottom: 15px" class="text-icon text-fixed">{{ source_config.uri }}</div>
            <table>
				<tbody>
					<tr>
						<td style="font-weight: 700;vertical-align: top;">Output filename:&nbsp;</td><td class="text-fixed" style="word-break: break-all;">{{ source_config.name }}</td>
					</tr>
					<tr ng-show="source_config.command !== null && source_config.command !== undefined && source_config.command.length != 0">
						<td style="font-weight: 700;vertical-align: top;">Command:&nbsp;</td><td class="text-fixed" style="word-break: break-all;">{{ source_config.command | joinBy:' ' }}</td>
					</tr>
					<tr ng-show="source_config.pattern !== null && source_config.pattern !== undefined && source_config.pattern !== ''">
						<td style="font-weight: 700;vertical-align: top;">Match pattern:&nbsp;</td><td class="text-fixed" style="word-break: break-all;">{{ source_config.pattern }}</td>
					</tr>
					<tr ng-show="source_config.username !== null && source_config.username !== undefined && source_config.username !== ''">
						<td style="font-weight: 700;vertical-align: top;">Username:&nbsp;</td><td class="text-fixed" style="word-break: break-all;">{{ source_config.username }}</td>
					</tr>
					<tr ng-show="source_config.password !== null && source_config.password !== undefined && source_config.password !== ''">
						<td style="font-weight: 700;vertical-align: top;">Password:&nbsp;</td><td class="text-fixed" style="word-break: break-all;">******</td>
					</tr>
					<tr ng-show="$parent.user.c12n_enforcing">
						<td style="font-weight: 700;vertical-align: top;">Default Classification:&nbsp;</td><td class="strong {{source_config.default_classification | class_text_color}}">{{source_config.default_classification | class_long}}</td>
					</tr>
				</tbody>
			</table>
            <div ng-show="source_config.private_key !== null && source_config.private_key !== undefined && source_config.private_key !== ''">
                <label style="margin-bottom: 0">A private key will be use to connect to the source</label>
            </div>
            <div ng-show="source_config.headers !== null && source_config.headers !== undefined && source_config.headers.length != 0">
                <label>Headers:</label>
                <div class="indent text-fixed" ng-repeat="header in source_config.headers">{{ header.name | uppercase }}:&nbsp;{{ header.value }}</div>
            </div>
        </div>
    </div>
</section>