<!doctype html>
{% if token_headers.token_id %}
<h1>A Token is loaded</h1>
{% else %}
<h1>There are not loaded tokens</h1>
{% endif %}

<div style="margin-bottom: 8px">Current connected to Assemblyline server <b>{{ al_server }}</b> with user <b>{{ al_user }}</b></div>
<div style="margin-bottom: 16px">Whoami API says the current user is: <b>{{ user }}</b></div>

{% if token_headers.token_id %}
<div>Token ID: {{ token_headers.token_id }}</div>
{% else %}
<div>
    <a href="https://{{ al_server }}/authorize?client_id={{ al_user }}&scope=r&server=OBO Test&redirect_url=https%3A%2F%2F{{ obo_server }}:5100%2Ftoken%2F">
        Request a Token with READ scope to AL
    </a>
</div>
<div>
    <a href="https://{{ al_server }}/authorize?client_id={{ al_user }}&roles=submission_view,file_detail&server=OBO Test&redirect_url=https%3A%2F%2F{{ obo_server }}:5100%2Ftoken%2F">
        Request a Token with specific roles to AL
    </a>
</div>
{% endif %}


{% if error %}<div style="margin-top: 16px">A previously loaded token generated and error: {{ error }}</div>{% endif %}
